{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <style>
        .ec-errorMessage {
            color: red;
            font-weight: 600;
            font-size: 13px;
        }
        @media only screen and (min-width: 768px) {
            .ec-borderedDefs dd {
                padding-left: 30px;
            }
        }
    </style>
{% endblock %}

{% block main %}
<div class="ec-modifiedLayoutRole__contents">
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'パスワードの再発行'|trans }}</h1>
        </div>
    </div>
    <div class="ec-forgotRole">
        <form name="form1" id="form1" method="post" action="{{ url('forgot') }}">
            {{ form_widget(form._token) }}
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-forgotRole__form">
                        <div class="ec-forgotRole__intro">
                            <p class="ec-para-normal">
                                ご登録時に入力した下記質問の答えを入力して「次へ」ボタンをクリックしてください。 <br />
                                ・下記質問の答えをお忘れになられた場合は、customer@ramrock.co.jpまでご連絡ください。 <br />
                                ・新しくパスワードを発行いたしますので、お忘れになったパスワードはご利用できなくなり ます。 <br />
                            </p>
                        </div>
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.login_email, 'メールアドレス', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.login_email) ? ' error' }}">
                                        {{ form_widget(form.login_email) }}
                                        {{ form_errors(form.login_email) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.password_tip_answer, 'パスワードを忘れた時のヒント', { 'label_attr': {'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-select{{ has_errors(form.password_tip_query) ? ' error' }}">
                                        {{ form_widget(form.password_tip_query) }}
                                        {{ form_errors(form.password_tip_query) }}
                                    </div>
                                    <div class="ec-input{{ has_errors(form.password_tip_answer) ? ' error' }}">
                                        {{ form_widget(form.password_tip_answer, { 'attr': { 'style': 'width: 250px' } }) }}
                                        {{ form_errors(form.password_tip_answer) }}
                                    </div>
                                    {% if validation_error is defined and validation_error == 'email' %}
                                        <p class="ec-errorMessage">登録されていないメールです。</p>
                                    {% endif %}
                                    {% if validation_error is defined and validation_error == 'tip' %}
                                        <p class="ec-errorMessage">回答が正しくありません。</p>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-off4Grid">
                <div class="ec-off4Grid__cell">
                    <button type="submit" class="ec-blockBtn--action">{{ '次へ'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}