{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
<div class="ec-modifiedLayoutRole__contents">
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '会員登録のお申込み(完了)'|trans }}</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>{{ '会員登録ありがとうございます'|trans }}</h2>
                </div>
                <p class="ec-reportDescription">
                    お客様アンケート割引を実施中です。<br />
                    アンケートにご協⼒いただいた⽅には、特典としてキャンペーン価格を<br />
                    330円割引させていただいております。<br />
                    ※キャンペーンお申込み時にアンケート割引価格が適用されます。
                </p>
                <div class="ec-off2Grid">
                    <div class="ec-off2Grid__cell" style="display: flex;">
                        <a class="ec-blockBtn--action" href="{{ url('se_enquete_detail', { id: 2 }) }}" style="margin-right: 20px;">{{ 'アンケートページへ'|trans }}</a>
                        {% if qtyInCart %}
                            <a class="ec-blockBtn--action" style="margin-bottom: 3px" href="{{ url('cart') }}">{{ 'カートへ進む'|trans }}</a>
                        {% endif %}
                        <a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'トップページへ'|trans }}</a>
                    </div>
                    {# <div class="ec-off3Grid__cell">
                        <a class="ec-blockBtn--cancel" href="{{ url('homepage') }}">{{ 'トップページへ'|trans }}</a>
                    </div> #}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}