{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block stylesheet %}
    <style>

        .slick-slider {
            margin-bottom: 30px;
        }

        .slick-dots {
            position: absolute;
            bottom: -45px;
            display: block;
            width: 100%;
            padding: 0;
            list-style: none;
            text-align: center;
        }

        .slick-dots li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;

            cursor: pointer;
        }

        .slick-dots li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }

        .slick-dots li button:hover,
        .slick-dots li button:focus {
            outline: none;
        }

        .slick-dots li button:hover:before,
        .slick-dots li button:focus:before {
            opacity: 1;
        }

        .slick-dots li button:before {
            content: " ";
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 12px;
            height: 12px;
            text-align: center;
            opacity: .25;
            background-color: black;
            border-radius: 50%;

        }

        .slick-dots li.slick-active button:before {
            opacity: .75;
            background-color: black;
        }

        .slick-dots li button.thumbnail img {
            width: 0;
            height: 0;
        }

        #ec-price-modal table {
            width: 100%;
        }

        #ec-price-modal table,
        #ec-price-modal th,
        #ec-price-modal td {
            border: 1px solid #ddd;
        }

        #ec-price-modal th,
        #ec-price-modal td {
            padding: 10px;
        }

        #ec-price-modal-link {
            margin-top: 15px;
        }

        @media only screen and (max-width: 767px) {
            #ec-price-modal .ec-role {
                padding-left: 10px;
                padding-right: 10px;
                font-size: 14px;
            }

            #ec-price-modal table {
                word-break: keep-all;
            }

            #ec-price-modal th,
            #ec-price-modal td {
                padding: 0px;
            }
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        eccube.classCategories = {{ class_categories_as_json(Product)|raw }};

        // 規格2に選択肢を割り当てる。
        function fnSetClassCategories(form, classcat_id2_selected) {
            var $form = $(form);
            var product_id = $form.find('input[name=product_id]').val();
            var $sele1 = $form.find('select[name=classcategory_id1]');
            var $sele2 = $form.find('select[name=classcategory_id2]');
            eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
        }

        {% if form.classcategory_id2 is defined %}
        fnSetClassCategories(
            $('#form1'), {{ form.classcategory_id2.vars.value|json_encode|raw }}
        );
        {% elseif form.classcategory_id1 is defined %}
        eccube.checkStock($('#form1'), {{ Product.id }}, {{ form.classcategory_id1.vars.value|json_encode|raw }}, null);
        {% endif %}
    </script>
    <script>
        $(function() {
            // bfcache無効化
            $(window).bind('pageshow', function(event) {
                if (event.originalEvent.persisted) {
                    location.reload(true);
                }
            });

            $('.item_visual').slick({
                dots: false,
                arrows: false,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                }]
            });

            $('.slideThumb').on('click', function() {
                var index = $(this).attr('data-index');
                $('.item_visual').slick('slickGoTo', index, false);
            })
        });
    </script>
    <script>
        $(function() {
            $('#ec-price-modal-link').on('click', function(){
                $('#ec-price-modal').show();
            });
            $('.add-cart').on('click', function(event) {
                {% if form.classcategory_id1 is defined %}
                // 規格1フォームの必須チェック
                if ($('#classcategory_id1').val() == '__unselected' || $('#classcategory_id1').val() == '') {
                    $('#classcategory_id1')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id1')[0].setCustomValidity('');
                }
                {% endif %}

                {% if form.classcategory_id2 is defined %}
                // 規格2フォームの必須チェック
                if ($('#classcategory_id2').val() == '__unselected' || $('#classcategory_id2').val() == '') {
                    $('#classcategory_id2')[0].setCustomValidity('{{ '項目が選択されていません'|trans }}');
                    return true;
                } else {
                    $('#classcategory_id2')[0].setCustomValidity('');
                }
                {% endif %}

                // 個数フォームのチェック
                if ($('#quantity').val() < 1) {
                    $('#quantity')[0].setCustomValidity('{{ '1以上で入力してください。'|trans }}');
                    return true;
                } else {
                    $('#quantity')[0].setCustomValidity('');
                }

                event.preventDefault();
                $form = $('#form1');
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    // $('.ec-modal').show();
                    $('#ec-cart-modal').show();                    

                    // カートブロックを更新する
                    $.ajax({
                        url: "{{ url('block_cart') }}",
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'カートへの追加に失敗しました。'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });

        $('.ec-modal-wrap').on('click', function(e) {
            // モーダル内の処理は外側にバブリングさせない
            e.stopPropagation();
        });
        $('.ec-modal-overlay, .ec-modal, .ec-modal-close, .ec-inlineBtn--cancel').on('click', function() {
            $('.ec-modal').hide()
        });
    </script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "Product",
        "name": "{{ Product.name }}",
        "image": [
            {% for img in Product.ProductImage %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(img, 'save_image') }}"{% if not loop.last %},{% endif %}

            {% else %}
                "{{ app.request.schemeAndHttpHost }}{{ asset(''|no_image_product, 'save_image') }}"
            {% endfor %}
        ],
        "description": "{{ Product.description_list | default(Product.description_detail) | replace({'\n': '', '\r': ''}) | slice(0,300) }}",
        {% if Product.code_min %}
        "sku": "{{ Product.code_min }}",
        {% endif %}
        "offers": {
            "@type": "Offer",
            "url": "{{ url('product_detail', {'id': Product.id}) }}",
            "priceCurrency": "{{ eccube_config.currency }}",
            "price": {{ Product.getPrice02IncTaxMin }},
            "availability": "{{ Product.stock_find ? "InStock" : "OutOfStock" }}"
        }
    }
    </script>
{% endblock %}

{% block main %}
    <div class="ec-productRole">
        <div class="ec-grid2">
            <div class="ec-grid2__cell">
                <div class="ec-sliderItemRole">

                    <div class="item_visual">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slide-item"><img src="{{ asset(ProductImage, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}"></div>
                        {% else %}
                            <div class="slide-item"><img src="{{ asset(''|no_image_product, 'save_image') }}" alt="{{ loop.first ? Product.name : '' }}" /></div>
                        {% endfor %}
                    </div>
                    <div class="item_nav">
                        {% for ProductImage in Product.ProductImage %}
                            <div class="slideThumb" data-index="{{ loop.index0 }}"><img src="{{ asset(ProductImage, 'save_image') }}" alt=""></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="ec-grid2__cell">
                <div class="ec-productRole__profile">
                    {# 商品名 #}
                    <div class="ec-productRole__title">
                        <h2 class="ec-headingTitle">{{ Product.name }}</h2>
                    </div>
                    {# タグ #}
                    <ul class="ec-productRole__tags">
                        {% for Tag in Product.Tags %}
                            <li class="ec-productRole__tag tag_{{ Tag.id }}">{{ Tag }}</li>
                        {% endfor %}
                    </ul>
                    {# キャンペーン通常料金 #}
                    {% if campagin %}
                        <div class="ec-productRole__price">
                            <div class="ec-price">
                                <span class="cs-price-label">{{ 'キャンペーン通常料金'|trans }}</span>： <span class="ec-price__price campagin-price">{{ '3190'|price }}</span>
                                <span class="ec-price__tax">{{ '税込'|trans }}</span>
                            </div>
                        </div>
                    {% else %}
                        {# 販売価格 #}
                        <div class="ec-productRole__price">
                            {% if Product.hasProductClass -%}
                                {% if Product.getPrice02IncTaxMin == Product.getPrice02IncTaxMax %}
                                    <div class="ec-price">
                                        <span class="cs-price-label">{{ '初期事務手数料'|trans }}</span>： <span class="ec-price__price price02-default">{{ Product.getPrice02IncTaxMin|price }}</span>
                                        <span class="ec-price__tax">{{ '税込'|trans }}</span>
                                    </div>
                                {% else %}
                                    <div class="ec-price">
                                        <span class="cs-price-label">{{ '初期事務手数料'|trans }}</span>： <span class="ec-price__price price02-default">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</span>
                                        <span class="ec-price__tax">{{ '税込'|trans }}</span>
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="ec-price">
                                    <span class="cs-price-label">{{ '初期事務手数料'|trans }}</span>： <span class="ec-price__price">{{ Product.getPrice02IncTaxMin|price }}</span>
                                    <span class="ec-price__tax">{{ '税込'|trans }}</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {# アンケート割引適用時 #}
                    <div class="ec-productRole__price">
                        <div class="ec-price">
                            <span class="cs-price-label">{{ 'アンケート割引適用時'|trans }}</span>： <span class="ec-price__price enquete-price">{{ '2860'|price }}</span>
                            <span class="ec-price__tax">{{ '税込'|trans }}</span>
                        </div>
                    </div>
                    {# 月額料金 #}
                    <div class="ec-productRole__price">                        
                        <div class="ec-price">
                            <span class="cs-price-label">{{ '月額料金'|trans }}</span>： <span class="ec-price__price default-price">{{ '4290'|price }}</span>
                            <span class="ec-price__tax">{{ '税込/月'|trans }}</span>
                        </div>
                    </div>
                    {# 商品コード #}
                    {% if Product.code_min is not empty %}
                        <div class="ec-productRole__code">
                            {{ '商品コード'|trans }}： <span class="product-code-default">{{ Product.code_min }}{% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}{% endif %}</span>
                        </div>
                    {% endif %}
                    <div>
                        <a id="ec-price-modal-link" class="ec-inlineBtn--action">料金表はこちら</a>
                    </div>
                    <div class="ec-modal" id="ec-price-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center"><h2>{{ '料金表'|trans }}</h2></div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>1年契約</td>
                                                    <td>短期契約</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>検知オプションなし</td>
                                                    <td>1台</td>
                                                    <td>4,290円(税込)</td>
                                                    <td>6,490円(税込)</td>
                                                </tr>
                                                <tr>
                                                    <td>検知オプションなし</td>
                                                    <td>2台</td>
                                                    <td>7,480円(税込)</td>
                                                    <td>11,880円(税込)</td>
                                                </tr>
                                                <tr>
                                                    <td>検知オプションあり</td>
                                                    <td>1台</td>
                                                    <td>5,390円(税込)</td>
                                                    <td>7,590円(税込)</td>
                                                </tr>
                                                <tr>
                                                    <td>検知オプションあり</td>
                                                    <td>2台</td>
                                                    <td>9,680円(税込)</td>
                                                    <td>14,080円(税込)</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        検知オプションなし <br />
                                                        検知オプションあり
                                                    </td>
                                                    <td>
                                                        1台 <br />
                                                        1台
                                                    </td>
                                                    <td>8,580円(税込)</td>
                                                    <td>12,980円(税込)</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p style="margin-top: 15px;">
                                            現在のご利用台数に追加で、1台ごとに1,100円引き <br />
                                            例）検知オプションなし1台＋検知オプションあり1台 1年契約 <br />
                                            4,290円＋5,390円-1,100円=8,580円
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {# 関連カテゴリ #}
                    {# {% if Product.ProductCategories is not empty %}
                        <div class="ec-productRole__category">
                            <div>{{ '関連カテゴリ'|trans }}</div>
                            {% for ProductCategory in Product.ProductCategories %}
                                <ul>
                                    <li>
                                        {% for Category in ProductCategory.Category.path %}
                                            <a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a> {%- if loop.last == false %}
                                            <span>＞</span>{% endif -%}
                                        {% endfor %}
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %} #}
                    <form action="{{ url('product_add_cart', {id:Product.id}) }}" method="post" id="form1" name="form1">
                        {% if Product.stock_find %}
                            <div class="ec-productRole__actions">
                                {% if form.classcategory_id1 is defined %}
                                    {% if campagin %}
                                        {{ '現在検討中のプランをご選択ください。プラン内容は本契約時に変更可能です。 <br /><br />'|raw|nl2br }}
                                    {% endif %}
                                    <div class="ec-select">
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </div>
                                    {% if form.classcategory_id2 is defined %}
                                        <div class="ec-select">
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <div class="ec-numberInput">
                                    <div style="display: none">
                                        <span>{{ '数量'|trans }}</span>
                                        {{ form_widget(form.quantity, { attr : { value : '1' } }) }}
                                        {{ form_errors(form.quantity) }}
                                    </div>
                                </div>
                            </div>
                            <div class="ec-productRole__btn">
                                <button type="submit" class="ec-blockBtn--action add-cart">
                                    {{ 'お申込み手続きへ'|trans }}
                                </button>
                            </div>
                        {% else %}
                            <div class="ec-productRole__btn">
                                <button type="button" class="ec-blockBtn--action" disabled="disabled">
                                    {{ 'ただいま品切れ中です。'|trans }}
                                </button>
                            </div>
                        {% endif %}

                        {{ form_rest(form) }}
                    </form>
                    <div class="ec-modal" id="ec-cart-modal">
                        <div class="ec-modal-overlay">
                            <div class="ec-modal-wrap">
                                <span class="ec-modal-close"><span class="ec-icon"><img src="{{ asset('assets/icon/cross-dark.svg') }}" alt=""/></span></span>
                                <div id="ec-modal-header" class="text-center">{{ 'カートに追加しました。'|trans }}</div>
                                <div class="ec-modal-box">
                                    <div class="ec-role">
                                        <a href="{{ url('cart') }}" class="ec-inlineBtn--action">{{ 'カートへ進む'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if BaseInfo.option_favorite_product %}
                        <form action="{{ url('product_add_favorite', {id:Product.id}) }}" method="post">
                            <div class="ec-productRole__btn">
                                {% if is_favorite == false %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel">
                                        {{ 'お気に入りに追加'|trans }}
                                    </button>
                                {% else %}
                                    <button type="submit" id="favorite" class="ec-blockBtn--cancel"
                                            disabled="disabled">{{ 'お気に入りに追加済です。'|trans }}
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                    <div class="ec-productRole__description">
                        {{ Product.description_detail|raw|nl2br }}
                    </div>
                </div>
            </div>
        </div>
        {% if Product.freearea %}
             <div class="ec-productRole__description">
                 {{ include(template_from_string(Product.freearea)) }}
            </div>
        {% endif %}
        {{ render(path('block_calendar')) }}
    </div>
{% endblock %}