{#
    This file is part of EC-CUBE
    
    Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
    
    http://www.ec-cube.co.jp/
    
    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
    #}
    {% extends 'default_frame.twig' %}
    
    {% set mypageno = 'plan_change' %}
    
    {% form_theme form 'Form/form_div_layout.twig' %}
    
    {% block javascript %}
        <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    {% endblock javascript %}
    
    {% block main %}
    
    <div class="ec-modifiedLayoutRole__contents cs-plan-change">
        <div class="ec-mypageRole">
            <div class="ec-pageHeader">
                <h1>{{ 'プラン変更手続き'|trans }}</h1>
            </div>
            {% include 'Mypage/navi.twig' %}
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <p>{{ '現在ご契約中の商品に対してオプションを追加もしくは削除したい場合は、下記のフォームよりお申込みください。'|trans|nl2br }}</p>
    
                    <div class="ec-cartTable" style="margin-top: 25px;">
                        <ol class="ec-cartHeader">
                            <li class="ec-cartHeader__label">{{ '商品'|trans }}</li>
                            <li class="ec-cartHeader__label">{{ 'ご利用いただける目安'|trans }}</li>
                            <li class="ec-cartHeader__label">{{ '回線使用料金の追加料金'|trans }}</li>
                        </ol>
                        <ul class="ec-cartRow" style="text-align: center; font-weight: bold">
                            <li class="ec-cartRow__contentColumn">
                                みまもりCUBE
                                <div class="cs-cart_class">（データ容量 1GB込）</div>
                                検知オプション
                            </li>
                            <li class="ec-cartRow__contentColumn">
                                <div class="cs-cart_class">
                                    メール約20,000通 通知受信の場合<br />
                                    または、Ramrock Player接続時間 約300分
                                </div>
                            </li>
                            <li class="ec-cartRow__contentColumn">
                                <div class="cs-cart_class">
                                    1GB毎に＋1,000円（税込1,100円）
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p style="margin: 15px 15px 20px">※金額はすべて税抜表示です</p>
                    
                    <div class="ec-cartTable" style="margin-top: 30px">
                        <ol class="ec-cartHeader">
                            <li class="ec-cartHeader__label"></li>
                            <li class="ec-cartHeader__label">{{ 'ご利用状況'|trans }}</li>
                        </ol>
                        <ul class="ec-cartRow" style="text-align: center; font-weight: bold">
                            <li class="ec-cartRow__contentColumn"> 1GB </li>
                            <li class="ec-cartRow__contentColumn">
                                <div class="cs-cart_class"> 画像付メール配信を主としたご利用 </div>
                            </li>
                        </ul>
                        <ul class="ec-cartRow" style="text-align: center; font-weight: bold">
                            <li class="ec-cartRow__contentColumn"> 3GB </li>
                            <li class="ec-cartRow__contentColumn">
                                <div class="cs-cart_class"> ライブ映像と録画の確認が必要 </div>
                            </li>
                        </ul>
                        <ul class="ec-cartRow" style="text-align: center; font-weight: bold">
                            <li class="ec-cartRow__contentColumn"> 5GB </li>
                            <li class="ec-cartRow__contentColumn">
                                <div class="cs-cart_class">
                                    ライブ映像と録画の確認が頻繁に必要 <br/>
                                    ライブ映像と録画の確認を2人で利用  <br/>
                                    みまもりCUBEを2台以上設置の場合    <br/>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <p style="margin: 15px 15px 50px">※ご利用台数以上のGB数が必要です。</p>
    
                    <form method="post" action="{{ url('plan_change') }}" class="h-adr" novalidate>
                        <span class="p-country-name" style="display:none;">Japan</span>
                        {{ form_widget(form._token) }}
    
                        <div class="ec-borderedDefs">
                            <dl>
                                <dt>
                                    {{ form_label(form.customer_id, '会員ID', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.customer_id) ? ' error' }}">
                                        {{ form_widget(form.customer_id) }}
                                        {{ form_errors(form.customer_id) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                        {{ form_widget(form.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                        {{ form_widget(form.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                        {{ form_errors(form.name.name01) }}
                                        {{ form_errors(form.name.name02) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.kana, 'お名前(カナ)', {'label_attr': {'class': 'ec-label'}}) }}
                                </dt>
                                <dd>
                                    <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                        {{ form_widget(form.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                        {{ form_widget(form.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                        {{ form_errors(form.kana.kana01) }}
                                        {{ form_errors(form.kana.kana02) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.option1, '変更内容', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.option1) ? ' error' }}">
                                        {{ form_widget(form.option1) }}
                                        {{ form_errors(form.option1) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.option2, 'データ容量の追加', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.option2) ? ' error' }}">
                                        {{ form_widget(form.option2) }}
                                        {{ form_errors(form.option2) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.email) ? ' error' }}">
                                        {{ form_widget(form.email) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    {{ form_label(form.contents, 'その他質問', { 'label_attr': { 'class': 'ec-label' }}) }}
                                </dt>
                                <dd>
                                    <div class="ec-input{{ has_errors(form.contents) ? ' error' }}">
                                        {{ form_widget(form.contents) }}
                                        {{ form_errors(form.contents) }}
                                    </div>
                                    <p>{{ 'ご注文に関するお問い合わせには、必ず「ご注文番号」をご記入くださいますようお願いいたします。'|trans }}</p>
                                </dd>
                            </dl>
                            {# エンティティ拡張の自動出力 #}
                            {% for f in form|filter(f => f.vars.eccube_form_options.auto_render) %}
                                {% if f.vars.eccube_form_options.form_theme %}
                                    {% form_theme f f.vars.eccube_form_options.form_theme %}
                                    {{ form_row(f) }}
                                {% else %}
                                    <dl>
                                        <dt>
                                            {{ form_label(f) }}
                                        </dt>
                                        <dd>
                                            <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                {{ form_widget(f) }}
                                                {{ form_errors(f) }}
                                            </div>
                                        </dd>
                                    </dl>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="ec-RegisterRole__actions">
                            <div class="ec-off4Grid">
                                <div class="ec-off4Grid__cell">
                                    <button type="submit" class="ec-blockBtn--action" name="mode" value="confirm">{{ '確認ページへ'|trans }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}