{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/fileupload/jquery.fileupload-ui.css') }}">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <style>
        #thumb div {
            float: left;
            margin: 4px
        }

        .ui-state-highlight {
            height: 70px;
            width: 70px;
            border: dashed 1px #ccc;
            background: #fff;
        }

        .media-body {
            margin-bottom: 30px;
            line-height: 1;
        }
        
        .c-form__fileUploadThumbnail {
            display: inline-block;
            width: 170px;
            height: 170px;
            background-color: #f5f6f8;
            background-image: url(../../img/moc.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            position: relative;
        }

        .c-form__fileUploadThumbnail:hover::before {
            background: rgba(0, 0, 0, 0.5);
        }

        .c-form__fileUploadThumbnail::before {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: transparent;
        }

        .c-form__fileUploadThumbnail .delete-image {
            display: none;
            font-family: FontAwesome;
            font-size: 18px;
            line-height: 1;
            color: #54687A;
            padding: 5px;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .c-form__fileUploadThumbnail:hover .delete-image {
            display: inline-block;
            font-family: FontAwesome;
            font-size: 18px;
            line-height: 1;
            color: #54687A;
            padding: 5px;
            background: #fff;
            border-radius: 3px;
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .btn-ec-regular {
            border-radius: 4px;
            padding: 6px 10px;
            border: 1px solid #ccc;
            background-color: #FFFFFF;
            cursor: pointer;
        }
        .btn-ec-regular:hover {
            color: #262626;
            background-color: #F2F2F2;
            border-color: #262626;
            text-decoration: none;
        }
        .identity_image {
            width: 170px;
            height: auto;
            margin-right: 15px;
            margin-bottom: 15px;
        }
    </style>
{% endblock stylesheet %}

{% block main %}

<div class="ec-modifiedLayoutRole__contents">
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ご注文内容のご確認'|trans }}</h1>
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'カートの商品'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'お客様情報'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文手続き'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文内容確認'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ '完了'|trans }}
                    </div>
                </li>
            </ul>
        </div>
    </div>

        <form id="shopping-form" method="post" action="{{ url('shopping_checkout') }}">
        {{ form_widget(form._token) }}
        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderAccount">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お客様情報'|trans }}</h2>
                    </div>
                    <div class="ec-orderAccount__account">
                        <p class="ec-halfInput">{{ ''|trans }}{{ Order.name01 }} {{ Order.name02 }}{{ ' 様'|trans }}</p>
                        <p class="ec-halfInput">{{ Order.kana01 }} {{ Order.kana02 }}</p>
                        <p class="ec-input">{{ Order.companyName }}</p>
                        <p class="ec-zipInput">{{ '〒'|trans }}{{ Order.postal_code }}</p>
                        <p class="ec-input">{{ Order.pref }}{{ Order.addr01 }}{{ Order.addr02 }}</p>
                        <p class="ec-telInput">{{ Order.phone_number }}</p>
                        <p class="ec-input">{{ Order.email }}</p>
                    </div>
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{ '配送情報'|trans }}</h2>
                    </div>
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        {% set isShowReducedTaxMess = false %}
                        <div class="ec-orderDelivery__item">
                            <ul class="ec-borderedList">
                                {% for orderItem in shipping.productOrderItems %}
                                <li>
                                    <div class="ec-imageGrid">
                                        <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"></div>
                                        <div class="ec-imageGrid__content">
                                            <p>{{ orderItem.productName }}{% if is_reduced_tax_rate(orderItem) %}{{ '※'|trans }}{% set isShowReducedTaxMess = true %}{% endif %}</p>
                                            <div class="cs-order_class">
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                    <p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                                {% endif %}
                                                {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                    <p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                                {% endif %}
                                            </div>
                                            {# <p>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}<span>{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</span></p> #}
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                            <p>{{ isShowReducedTaxMess ? '※ は軽減税率対象商品です。'|trans }}</p>
                        </div>
                        <div class="ec-orderDelivery__address">
                            <p>{{ ''|trans }}{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}){{ ' 様'|trans }}</p>
                            <p>{{ '〒'|trans }}{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                            <p>{{ shipping.phone_number }}</p>
                        </div>
                        <div class="ec-orderDelivery__actions">
                            <div class="ec-selects">
                                <div class="ec-select">
                                    <label>{{ '配送方法'|trans }}</label>
                                    {% set delivery_fee = 0 %}
                                    {% for item in shipping.order_items if item.isDeliveryFee %}
                                        {% set delivery_fee = item.total_price %}
                                    {% endfor %}
                                    {{ Order.Shippings[idx].Delivery }}({{ delivery_fee|price }})
                                </div>
                                <div class="ec-select ec-select__delivery">
                                    <label>{{ 'お届け日'|trans }}</label>
                                    {{ Order.Shippings[idx].shipping_delivery_date? Order.Shippings[idx].shipping_delivery_date|date_day_with_weekday : '指定なし（最短発送）'|trans }}
                                </div>
                                <div class="ec-select ec-select__time">
                                    <label>{{ 'お届け時間'|trans }}</label>
                                    {{ Order.Shippings[idx].shipping_delivery_time?: '指定なし'|trans }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="ec-borderedDefs" style="border-top: none;">
                    <dl>
                        <dt>
                            {{ form_label(form.watch_target, '本人確認書類', { 'label_attr': { 'class': 'ec-label' }}) }}
                            {{ form_widget(form.image0, { type : 'hidden' }) }}
                            {{ form_widget(form.add_images, { type: 'hidden'}) }}
                        </dt>
                        <dd style="display: flex; align-items: center; flex-wrap: wrap;">
                            {% for image in form.add_images.vars.value %}
                                <div class="identity_image">
                                    <img src="{{ asset(image, 'temp_image') }}" alt="">
                                </div>
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                <div class="cs-orderOptions">
                    {% if installationAgent is defined and installationAgent is not empty %}
                        <div class="cs-installation_agent">
                            <div class="ec-rectHeading" style="position: relative">
                                <h2>{{ '取付代行オプション'|trans }}</h2>
                            </div>
                            <div id="installationAgent" class="ec-orderDelivery__address">
                                <p>{{ ''|trans }}{{ installationAgent.name01 }} {{ installationAgent.name02 }} ({{ installationAgent.kana01 }} {{ installationAgent.kana02 }}){{ ' 様'|trans }}</p>
                                <p>{{ '〒'|trans }}{{ installationAgent.postal_code }} {{ installationAgent.pref }}{{ installationAgent.addr01 }}{{ installationAgent.addr02 }}</p>
                                <p>{{ installationAgent.phone_number }}</p>
                            </div>
                        </div>
                    {% endif %}
                    {{ form_widget(form.watch_target, { type: 'hidden'}) }}
                    {% if (watchTarget1 is defined and watchTarget1 is not empty) or (watchTarget2 is defined and watchTarget2 is not empty) %}
                        <div class="cs-watch_target" style="margin-top: 15px;">
                            <div class="ec-rectHeading">
                                <h2>{{ '見守り対象者がいる場合はご入力ください'|trans }}</h2>
                            </div>
                            <div id="watchTargetContent">
                                {% if watchTarget1 is defined and watchTarget1.name01 is not empty and watchTarget1.name02 is not empty %}
                                    <div class="ec-borderedDefs">
                                        <div class="cs-orderOptions_title">
                                            {{ '1人目'|trans }}
                                        </div>
                                        <div id="watchTarget1">
                                            <p>{{ ''|trans }}{{ watchTarget1.name01 }} {{ watchTarget1.name02 }} ({{ watchTarget1.kana01 }} {{ watchTarget1.kana02 }}){{ ' 様'|trans }}</p>
                                            <p>{{ '〒'|trans }}{{ watchTarget1.postal_code }} {{ watchTarget1.pref }}{{ watchTarget1.addr01 }}{{ watchTarget1.addr02 }}</p>
                                            <p>{{ watchTarget1.phone_number }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if watchTarget2 is defined and watchTarget2.name01 is not empty and watchTarget2.name02 is not empty %}
                                    <div class="ec-borderedDefs">
                                        <div class="cs-orderOptions_title">
                                            {{ '2人目'|trans }}
                                        </div>
                                        <div id="watchTarget2">
                                            <p>{{ ''|trans }}{{ watchTarget2.name01 }} {{ watchTarget2.name02 }} ({{ watchTarget2.kana01 }} {{ watchTarget2.kana02 }}){{ ' 様'|trans }}</p>
                                            <p>{{ '〒'|trans }}{{ watchTarget2.postal_code }} {{ watchTarget2.pref }}{{ watchTarget2.addr01 }}{{ watchTarget2.addr02 }}</p>
                                            <p>{{ watchTarget2.phone_number }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="ec-orderPayment">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お支払方法'|trans }}</h2>
                    </div>
                    <div class="ec-blockRadio">
                        {% set charge = 0 %}
                        {% for item in Order.order_items if item.isCharge %}
                            {% set charge = item.total_price %}
                        {% endfor %}
                        {{ Order.Payment }}({{ charge|price }})
                    </div>
                </div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                <div class="ec-orderPayment">
                    <div class="ec-rectHeading">
                        <h2>{{ '利用ポイント'|trans }}</h2>
                    </div>
                    <div class="ec-blockRadio">
                        {{ Order.use_point|number_format }} pt
                    </div>
                </div>
                {% endif %}
                <div class="ec-orderConfirm">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お問い合わせ'|trans }}</h2>
                    </div>
                    <div class="ec-input">
                        {{ Order.message|nl2br }}
                    </div>
                </div>
                {{ render(path('block_calendar')) }}
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '小計'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '手数料'|trans }}</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '送料'|trans }}</dt>
                        <dd>{{ Order.deliveryFeeTotal|price }}</dd>
                    </dl>
                    {% for item in Order.tax_free_discount_items %}
                        {# {% if loop.first %}<div class="ec-totalBox__total"></div>{% endif %} #}
                        <dl class="ec-totalBox__spec">
                            {# <dt>{{ item.product_name }}</dt> #}
                            <dt> 割引 </dt>
                            <dd>{{ item.total_price|price }}</dd>
                        </dl>
                    {% endfor %}
                    {% if Order.taxable_discount < 0 %}
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '値引き'|trans }}</dt>
                        <dd>{{ Order.taxable_discount|price }}</dd>
                    </dl>
                    {% endif %}
                    <div class="ec-totalBox__total">{{ '合計'|trans }}<span class="ec-totalBox__price">{{ Order.taxable_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% for rate, total in Order.taxable_total_by_tax_rate %}
                        <dl class="ec-totalBox__taxRate">
                            <dt>{{ '税率 %rate% %対象'|trans({ '%rate%': rate }) }}</dt>
                            <dd>{{ total|price }}</dd>
                        </dl>
                    {% endfor %}
                    <div class="ec-totalBox__paymentTotal">{{ 'お支払い合計'|trans }}<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-totalBox__pointBlock">
                        <dl class="ec-totalBox__spec">
                            <dt>{{ 'ご利用ポイント'|trans }}</dt>
                            <dd>{{ Order.UsePoint|number_format }} pt</dd>
                        </dl>
                        <dl class="ec-totalBox__spec">
                            <dt><span class="ec-font-bold">{{ '加算ポイント'|trans }}</span></dt>
                            <dd><span class="ec-font-bold">{{ Order.AddPoint|number_format }} pt</span></dd>
                        </dl>
                    </div>
                    {% endif %}
                    <div class="ec-totalBox__btn">
                        <button type="submit" class="ec-blockBtn--action">{{ '注文する'|trans }}</button>
                        <a href="{{ url('shopping') }}" class="ec-blockBtn--cancel">{{ 'ご注文手続きに戻る'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}