{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% if installationAgentForm is defined and installationAgentForm is not null %}
    {% form_theme installationAgentForm 'Form/form_div_layout.twig' %}
{% endif %}

{% form_theme watchTarget1Form 'Form/form_div_layout.twig' %}
{% form_theme watchTarget2Form 'Form/form_div_layout.twig' %}

{% block stylesheet %}
<style>
    #installationAgent {
        height: unset !important;
    }
    #watchTarget1, #watchTarget2 {
        height: unset !important;
    }

    #thumb div {
        float: left;
        margin: 4px
    }
    
    .progress {
        display: flex;
        height: 1rem;
        overflow: hidden;
        line-height: 0;
        font-size: 0.75rem;
        background-color: #e9ecef;
        border-radius: 0.25rem;
    }
    .progress-bar-striped {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
        background-size: 1rem 1rem;
    }
    .progress-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #437ec4;
        transition: width 0.6s ease;
    }
    .ui-state-highlight {
        height: 70px;
        width: 70px;
        border: dashed 1px #ccc;
        background: #fff;
    }
    .media-body {
        margin-bottom: 15px;
        line-height: 1;
    }
    
    .c-form__fileUploadThumbnail {
        display: inline-block;
        width: 170px;
        height: 170px;
        background-color: #f5f6f8;
        background-image: url(../../img/moc.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        position: relative;
    }
    .c-form__fileUploadThumbnail:hover::before {
        background: rgba(0, 0, 0, 0.5);
    }
    .c-form__fileUploadThumbnail::before {
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        background: transparent;
    }
    .c-form__fileUploadThumbnail .delete-image {
        display: none;
        font-family: FontAwesome;
        font-size: 18px;
        line-height: 1;
        color: #54687A;
        padding: 5px;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 2px;
        right: 2px;
    }
    .c-form__fileUploadThumbnail:hover .delete-image {
        display: inline-block;
        font-family: FontAwesome;
        font-size: 18px;
        line-height: 1;
        color: #54687A;
        padding: 5px;
        background: #fff;
        border-radius: 3px;
        position: absolute;
        top: 2px;
        right: 2px;
    }
    .btn-ec-regular {
        border-radius: 4px;
        padding: 6px 10px;
        border: 1px solid #ccc;
        background-color: #FFFFFF;
        cursor: pointer;
    }
    .btn-ec-regular:hover {
        color: #262626;
        background-color: #F2F2F2;
        border-color: #262626;
        text-decoration: none;
    }

    .mr-2 {
        margin-right: 10px;
    }

    .ec-link {
        color: brown;
        font-weight: 600;
    }
    .ec-link:hover {
        color: chocolate;
    }
    @media only screen and (max-width: 767px) {
        #shopping_order_watch_target label {
            display: unset;
        }
        #shopping_order_watch_target label::after {
            content: '\a';
            white-space: pre;
        }
    }
</style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/fileupload/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload-process.js') }}"></script>
    <script src="{{ asset('assets/js/fileupload/jquery.fileupload-validate.js') }}"></script>
    <script>var bootstrapTooltip = $.fn.tooltip.noConflict();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <script>
        var watchTarget = `
            <div class="ec-borderedDefs h-adr">
                <div class="cs-orderOptions_title" style="position: relative">
                    {{ '1人目'|trans }}
                    <div class="text-right cs-toggle-icon"><a data-toggle="collapse" href="#watchTarget1"><i class="fa fa-angle-up fa-lg"></i></a></div>
                </div>
                <div id="watchTarget1">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget1Form.name, 'common.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-halfInput{{ has_errors(watchTarget1Form.name.name01, watchTarget1Form.name.name02) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                {{ form_widget(watchTarget1Form.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                {{ form_errors(watchTarget1Form.name.name01) }}
                                {{ form_errors(watchTarget1Form.name.name02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget1Form.kana, 'common.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-halfInput{{ has_errors(watchTarget1Form.kana.kana01, watchTarget1Form.kana.kana02) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                {{ form_widget(watchTarget1Form.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                {{ form_errors(watchTarget1Form.kana.kana01) }}
                                {{ form_errors(watchTarget1Form.kana.kana02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget1Form.address, 'common.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-zipInput{{ has_errors(watchTarget1Form.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                {{ form_widget(watchTarget1Form.postal_code) }}
                                <div class="ec-zipInputHelp">
                                    <div class="ec-zipInputHelp__icon">
                                        <div class="ec-icon"><img src="{{ asset('assets/icon/question-white.svg') }}" alt=""></div>
                                    </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                </div>
                                {{ form_errors(watchTarget1Form.postal_code) }}
                            </div>
                            <div class="ec-select{{ has_errors(watchTarget1Form.address.pref) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.address.pref) }}
                                {{ form_errors(watchTarget1Form.address.pref) }}
                            </div>
                            <div class="ec-input{{ has_errors(watchTarget1Form.address.addr01) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                {{ form_errors(watchTarget1Form.address.addr01) }}
                            </div>
                            <div class="ec-input{{ has_errors(watchTarget1Form.address.addr02) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                {{ form_errors(watchTarget1Form.address.addr02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl style="display: none;">
                        <dt>
                            {{ form_label(watchTarget1Form.phone_number, 'common.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-telInput{{ has_errors(watchTarget1Form.phone_number) ? ' error' }}">
                                {{ form_widget(watchTarget1Form.phone_number, { 'attr': { 'value': '' } }) }}
                                {{ form_errors(watchTarget1Form.phone_number) }}
                            </div>
                        </dd>
                    </dl>
                    {% for f in watchTarget1Form|filter(f => f.vars.eccube_form_options.auto_render) %}
                        {% if f.vars.eccube_form_options.form_theme %}
                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {{ form_row(f) }}
                        {% else %}
                            <dl>
                                <dt>
                                    {{ form_label(f) }}
                                </dt>
                                <dd>
                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                        {{ form_widget(f) }}
                                        {{ form_errors(f) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="ec-borderedDefs h-adr">
                <div class="cs-orderOptions_title" style="position: relative">
                    {{ '2人目'|trans }}
                    <div class="text-right cs-toggle-icon"><a data-toggle="collapse" href="#watchTarget2"><i class="fa fa-angle-up fa-lg"></i></a></div>
                </div>
                <div id="watchTarget2">
                    <span class="p-country-name" style="display:none;">Japan</span>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget2Form.name, 'common.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-halfInput{{ has_errors(watchTarget2Form.name.name01, watchTarget2Form.name.name02) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                {{ form_widget(watchTarget2Form.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                {{ form_errors(watchTarget2Form.name.name01) }}
                                {{ form_errors(watchTarget2Form.name.name02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget2Form.kana, 'common.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-halfInput{{ has_errors(watchTarget2Form.kana.kana01, watchTarget2Form.kana.kana02) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                {{ form_widget(watchTarget2Form.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                {{ form_errors(watchTarget2Form.kana.kana01) }}
                                {{ form_errors(watchTarget2Form.kana.kana02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(watchTarget2Form.address, 'common.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-zipInput{{ has_errors(watchTarget2Form.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                {{ form_widget(watchTarget2Form.postal_code) }}
                                <div class="ec-zipInputHelp">
                                    <div class="ec-zipInputHelp__icon">
                                        <div class="ec-icon"><img src="{{ asset('assets/icon/question-white.svg') }}" alt=""></div>
                                    </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                </div>
                                {{ form_errors(watchTarget2Form.postal_code) }}
                            </div>
                            <div class="ec-select{{ has_errors(watchTarget2Form.address.pref) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.address.pref) }}
                                {{ form_errors(watchTarget2Form.address.pref) }}
                            </div>
                            <div class="ec-input{{ has_errors(watchTarget2Form.address.addr01) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                {{ form_errors(watchTarget2Form.address.addr01) }}
                            </div>
                            <div class="ec-input{{ has_errors(watchTarget2Form.address.addr02) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                {{ form_errors(watchTarget2Form.address.addr02) }}
                            </div>
                        </dd>
                    </dl>
                    <dl style="display: none;">
                        <dt>
                            {{ form_label(watchTarget2Form.phone_number, 'common.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                        </dt>
                        <dd>
                            <div class="ec-telInput{{ has_errors(watchTarget2Form.phone_number) ? ' error' }}">
                                {{ form_widget(watchTarget2Form.phone_number, { 'attr': { 'value': '' } }) }}
                                {{ form_errors(watchTarget2Form.phone_number) }}
                            </div>
                        </dd>
                    </dl>
                    {% for f in watchTarget2Form|filter(f => f.vars.eccube_form_options.auto_render) %}
                        {% if f.vars.eccube_form_options.form_theme %}
                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                            {{ form_row(f) }}
                        {% else %}
                            <dl>
                                <dt>
                                    {{ form_label(f) }}
                                </dt>
                                <dd>
                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                        {{ form_widget(f) }}
                                        {{ form_errors(f) }}
                                    </div>
                                </dd>
                            </dl>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        `;
        
        $.fn.tooltip = bootstrapTooltip;
        $(document).on('drop dragover', function(e) {
            e.preventDefault();
        });
        $(function() {
            // Todo: fix drag&drop style
            $("#thumb").sortable({
                cursor: 'move',
                opacity: 0.7,
                placeholder: 'ui-state-highlight',
                update: function(event, ui) {
                    updateSortNo();
                }
            });

            var file_count = 0;
            var proto_img = '<div class="c-form__fileUploadThumbnail" style="background-image:url(\'__path__\');">' +
                '<a class="delete-image"><i class="fa fa-times" aria-hidden="true"></i></a>' +
                '</div>';
            var proto_add = '{{ form_widget(form.add_images.vars.prototype) }}';
            var proto_del = '{{ form_widget(form.delete_images.vars.prototype) }}';
            {% for image in form.images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(image.vars.value, 'save_image') }}'));
            var $widget = $('{{ form_widget(image) }}');
            $widget.val('{{ image.vars.value }}');
            $("#thumb").append($img.append($widget));
            {% endfor %}
            {% for add_image in form.add_images %}
            var $img = $(proto_img.replace(/__path__/g, '{{ asset(add_image.vars.value, 'temp_image') }}'));
            var $widget = $('{{ form_widget(add_image) }}');
            $widget.val('{{ add_image.vars.value }}');
            $("#thumb").append($img.append($widget));

            file_count++;
            $('#shopping_order_image0').val('{{ add_image.vars.value }}');
            {% endfor %}
            {% for delete_image in form.delete_images %}
            $("#thumb").append('{{ form_widget(delete_image) }}');
            {% endfor %}
            var hideThumbnail = function() {
                if ($("#thumb div").length > 0) {
                    $("#icon_no_image").css("display", "none");
                } else {
                    $("#icon_no_image").css("display", "");
                }
            };
            // Todo: fix update sort by drag&drop
            var updateSortNo = function() {
                $("#thumb div").each(function(index) {
                    $(this).find(".sort_no_images").remove();
                    filename = $(this).find("input[type='hidden']").val();
                    $sortNo = $('<input type="hidden" class="sort_no_images" name="sort_no_images[]" />');
                    $sortNo.val(filename + '//' + parseInt(index + 1));
                    $(this).append($sortNo);
                });
            };
            hideThumbnail();
            updateSortNo();
            
            // Delete of images
            var count_del = 0;
            $("#thumb").on("click", '.delete-image', function() {
                var $new_delete_image = $(proto_del.replace(/__name__/g, count_del));
                var thumbnail = $(this).parents('div.c-form__fileUploadThumbnail');
                var src = $(thumbnail).find('input').val();
                $new_delete_image.val(src);
                $("#thumb").append($new_delete_image);
                $(thumbnail).remove();
                hideThumbnail();
                updateSortNo();
                count_del++;
                file_count--;
                if (file_count == 0) $('#shopping_order_image0').val('');
            });
            var count_add = {{ form.add_images|length|default(0) }};
            max = 2;
            $('#{{ form.customer_image.vars.id }}').fileupload({
                url: "{{ url('shopping_image_add') }}",
                type: "post",
                sequentialUploads: true,
                dataType: 'json',
                dropZone: $('#upload-zone'),
                change: function(e, data) {
                    if ( (data.files.length + file_count) > max){
                        data.files = [];
                        alert("2つの画像しか登録できません。");
                    }
                },
                drop: function(e, data) {
                    if ( (data.files.length + file_count) > max){
                        data.files = [];
                        alert("2つの画像しか登録できません。");
                    }
                },
                done: function(e, data) {
                    $('.progress').hide();
                    $.each(data.result.files, function(index, file) {
                        var path = '{{ asset('', 'temp_image') }}' + file;
                        var $img = $(proto_img.replace(/__path__/g, path));
                        var $new_img = $(proto_add.replace(/__name__/g, count_add));
                        $new_img.val(file);
                        $child = $img.append($new_img);
                        $('#thumb').append($child);
                        count_add++;
                        file_count++;
                        $('#shopping_order_image0').val(file);
                    });
                    hideThumbnail();
                    updateSortNo();
                },
                fail: function(e, data) {
                    alert("{{ 'admin.common.upload_error'|trans }}");
                },
                always: function(e, data) {
                    $('.progress').hide();
                    $('.progress .progress-bar').width('0%');
                },
                start: function(e, data) {
                    $('.progress').show();
                },
                acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
                maxFileSize: 10000000,
                maxNumberOfFiles: 10,
                progressall: function(e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .progress-bar').css(
                        'width',
                        progress + '%'
                    );
                },
                processalways: function(e, data) {
                    if (data.files.error) {
                        alert("{{ 'admin.common.upload_error'|trans }}");
                    }
                }
            });
            // 画像アップロード
            $('#file_upload').on('click', function() {
                $('#{{ form.customer_image.vars.id }}').click();
            });
        });

        $(function() {
            var $redirectCallback = function() {
                loadingOverlay();
                $('#shopping_order_redirect_to').val($(this).attr('data-path'));
                $('#redirect-option').val($(this).attr('redirect-option'))
                $('#shopping-form').attr('action', '{{ url("shopping_redirect_to") }}').submit();
                setTimeout(function () {
                    loadingOverlay("hide");
                }, 2000);
            };
            $('[data-trigger]').each(function() {
                $(this).on($(this).attr('data-trigger'), $redirectCallback);
            });

            {% if is_granted('ROLE_USER') == false %}
            var edit = $('.customer-edit');
            var hidden = $('.customer-in');
            var form = $('.customer-form');

            $('#customer').click(function() {
                $(edit).each(function(index) {
                    var name = $(this).text();
                    var input = $('<input id="edit' + index + '" type="text" />').val(name);
                    $(form[index]).empty().append(input);
                });

                $('.non-customer-display').hide();
                $('.non-customer-edit').show();
                $('.mod-button').show();
            });

            $('#customer-ok').click(function() {
                $(form).each(function(index) {
                    $(hidden[index]).val($(form[index]).children('input').val());
                });

                var postData = {};
                $(hidden).each(function() {
                    postData[$(this).attr('name')] = $(this).val();
                });

                loadingOverlay();

                $.ajax({
                    url: "{{ url('shopping_customer') }}",
                    type: 'POST',
                    data: postData,
                    dataType: 'json'
                }).done(function(data) {
                    if (data.status == 'OK') {
                        $(form).each(function(index) {
                            $(edit[index]).empty().text($(form[index]).children('input').val());
                            $(form[index]).empty();
                        });

                        // kana field
                        $(edit[2]).empty().text(data.kana01);
                        $(edit[3]).empty().text(data.kana02);
                        $('#customer-kana01').val(data.kana01);
                        $('#customer-kana02').val(data.kana02);
                    }
                }).fail(function() {
                    alert('更新に失敗しました。入力内容を確認してください。');
                }).always(function(data) {
                    // overlayを無効
                    loadingOverlay('hide');
                });

                $('.non-customer-display').show();
                $('.non-customer-edit').hide();
                $('.mod-button').hide();
            });

            $('#customer-cancel').click(function() {
                $('.non-customer-display').show();
                $('.non-customer-edit').hide();
                $('.mod-button').hide();
            });
            {% endif %}

            if ($('#shopping_order_watch_target_0').is(':checked')) {
                $('#watchTargetContent').html(watchTarget);
            }

            $('#shopping_order_watch_target_0').on('change', function() {
                if ($(this).is(':checked')) {
                    $('#watchTargetContent').html(watchTarget);
                }
            });

            $('#shopping_order_watch_target_1').on('change', function() {
                if ($(this).is(':checked')) {
                    $('#watchTargetContent').empty();
                }
            });

            $('#shopping-form').on('change', '.p-postal-code', function() {
                new YubinBango.MicroformatDom();
            });

            $('#shopping-form').on('input', '.p-postal-code', function() {
                new YubinBango.MicroformatDom();
            });
        });
    </script>
{% endblock javascript %}

{% block main %}

<div class="ec-modifiedLayoutRole__contents">
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'ご注文手続き'|trans }}</h1>
        </div>
    </div>

    <div class="ec-cartRole">
        <div class="ec-cartRole__progress">
            <ul class="ec-progress">
                {% set step = 1 %}
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'カートの商品'|trans }}
                    </div>
                </li>
                {% if is_granted('ROLE_USER') == false %}
                    <li class="ec-progress__item">
                        <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                        </div>
                        <div class="ec-progress__label">{{ 'お客様情報'|trans }}
                        </div>
                    </li>
                {% endif %}
                <li class="ec-progress__item is-complete">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文手続き'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ 'ご注文内容確認'|trans }}
                    </div>
                </li>
                <li class="ec-progress__item">
                    <div class="ec-progress__number">{{ step }}{% set step = step + 1 %}
                    </div>
                    <div class="ec-progress__label">{{ '完了'|trans }}
                    </div>
                </li>
            </ul>
        </div>

        <!-- アラートメッセージ -->
        {{ include('Shopping/alert.twig') }}
    </div>

    <form id="shopping-form" method="post" action="{{ url('shopping_confirm') }}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.redirect_to) }}
        <div class="ec-orderRole">
            <div class="ec-orderRole__detail">
                <div class="ec-orderAccount">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お客様情報'|trans }}</h2>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="ec-orderAccount__change non-customer-display">
                            <button id="customer" class="ec-inlineBtn" type="button">{{ '変更'|trans }}</button>
                        </div>
                    {% endif %}
                    <div class="ec-orderAccount__account non-customer-display">
                        <p class="ec-halfInput">{{ ''|trans }}<span class="customer-edit customer-name01">{{ Order.name01 }}</span> <span class="customer-edit customer-name02">{{ Order.name02 }}</span>{{ ' 様'|trans }}</p>
                        <p class="ec-halfInput"><span class="customer-edit customer-kana01">{{ Order.kana01 }}</span> <span class="customer-edit customer-kana02">{{ Order.kana02 }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-company_name">{{ Order.companyName }}</span></p>
                        <p class="ec-zipInput">〒<span class="customer-edit customer-postal_code">{{ Order.postal_code }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-pref">{{ Order.pref }}</span><span class="customer-edit customer-addr01">{{ Order.addr01 }}</span><span class="customer-edit customer-addr02">{{ Order.addr02 }}</span></p>
                        <p class="ec-telInput"><span class="customer-edit customer-phone_number">{{ Order.phone_number }}</span></p>
                        <p class="ec-input"><span class="customer-edit customer-email">{{ Order.email }}</span></p>
                    </div>
                    {% if is_granted('ROLE_USER') == false %}
                        <div class="ec-borderedDefs  non-customer-edit" style="display:none;">
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'お名前'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-name01"></span>
                                        <span class="customer-form customer-name02"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'お名前(カナ)'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-kana01"></span>
                                        <span class="customer-form customer-kana02"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label" for="nonmember_company_name">{{ '会社名'|trans }}</label>
                                </dt>
                                <dd>
                                    <div class="ec-halfInput">
                                        <span class="customer-form customer-company_name"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ '住所'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-zipInput">
                                        <span>{{ '〒'|trans }}</span>
                                        <span class="customer-form customer-postal_code"></span>
                                        <div class="ec-zipInputHelp">
                                            <div class="ec-zipInputHelp__icon">
                                                <div class="ec-icon">
                                                    <img src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                                </div>
                                            </div>
                                            <a href="https://www.post.japanpost.jp/zipcode/" target="_blank">
                                                <span>{{ '郵便番号検索'|trans }}</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ec-select">
                                        <span class="customer-form customer-address_pref"></span>
                                    </div>
                                    <div class="ec-input">
                                        <span class="customer-form customer-address_addr01"></span>
                                    </div>
                                    <div class="ec-input">
                                        <span class="customer-form customer-address_addr02"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required" for="nonmember_phone_number">{{ '電話番号'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-telInput">
                                        <span class="customer-form customer-phone_number"></span>
                                    </div>
                                </dd>
                            </dl>
                            <dl>
                                <dt>
                                    <label class="ec-label required">{{ 'メールアドレス'|trans }}</label>
                                    <span class="ec-required">{{ '必須'|trans }}</span>
                                </dt>
                                <dd>
                                    <div class="ec-input">
                                        <span class="customer-form customer-email"></span>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                        <div class="mod-button" style="display:none;">
                            <span id="customer-ok"><button type="button" class="ec-inlineBtn">{{ 'OK'|trans }}</button></span>
                            <span id="customer-cancel"><button type="button" class="ec-inlineBtn">{{ 'キャンセル'|trans }}</button></span>
                        </div>
                        <input type="hidden" id="customer-name01" class="customer-in" name="customer_name01" value="{{ Order.name01 }}">
                        <input type="hidden" id="customer-name02" class="customer-in" name="customer_name02" value="{{ Order.name02 }}">
                        <input type="hidden" id="customer-kana01" class="customer-in" name="customer_kana01" value="{{ Order.kana01 }}">
                        <input type="hidden" id="customer-kana02" class="customer-in" name="customer_kana02" value="{{ Order.kana02 }}">
                        <input type="hidden" id="customer-company-name" class="customer-in" name="customer_company_name" value="{{ Order.companyName }}">
                        <input type="hidden" id="customer-postal_code" class="customer-in" name="customer_postal_code" value="{{ Order.postal_code }}">
                        <input type="hidden" id="customer-pref" class="customer-in" name="customer_pref" value="{{ Order.pref }}">
                        <input type="hidden" id="customer-addr01" class="customer-in" name="customer_addr01" value="{{ Order.addr01 }}">
                        <input type="hidden" id="customer-addr02" class="customer-in" name="customer_addr02" value="{{ Order.addr02 }}">
                        <input type="hidden" id="customer-phone_number" class="customer-in" name="customer_phone_number" value="{{ Order.phone_number }}">
                        <input type="hidden" id="customer-email" class="customer-in" name="customer_email" value="{{ Order.email }}">
                    {% endif %}
                </div>
                <div class="ec-orderDelivery">
                    <div class="ec-rectHeading">
                        <h2>{{ '配送情報'|trans }}</h2>
                    </div>
                    <input type="hidden" id="redirect-option" name="redirect_option" value="">
                    {% for shipping in Order.shippings %}
                        {% set idx = loop.index0 %}
                        {% set isShowReducedTaxMess = false %}
                        <div class="ec-orderDelivery__title">{{ 'お届け先'|trans }}{% if Order.multiple %}({{ loop.index }}){% endif %}
                            <div class="ec-orderDelivery__change" style="margin-top: 8px">
                                <button type="button" class="ec-inlineBtn" data-trigger="click" data-path="{{ path('shopping_shipping_multiple') }}" redirect-option="option0">{{ '追加する'|trans }}</button>
                                {# {% if is_granted('ROLE_USER') %}
                                    <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping', {'id': shipping.id}) }}" redirect-option="option1">{{ '変更する'|trans }}</button>
                                {% else %}
                                    <button class="ec-inlineBtn" data-id="{{ shipping.id }}" data-trigger="click" data-path="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}" redirect-option="option2">{{ '変更する'|trans }}</button>
                                {% endif %} #}
                                {# <a href="{{ path('shopping_shipping_multiple') }}" class="ec-inlineBtn">{{ '追加'|trans }}</a>
                                {% if is_granted('ROLE_USER') %}
                                    <a href="{{ path('shopping_shipping', {'id': shipping.id}) }}" class="ec-inlineBtn">{{ '変更する'|trans }}</a>
                                {% else %}
                                    <a href="{{ path('shopping_shipping_edit', {'id': shipping.id}) }}" class="ec-inlineBtn">{{ '変更する'|trans }}</a>
                                {% endif %} #}
                            </div>
                        </div>
                        <div class="ec-orderDelivery__item">
                            <ul class="ec-borderedList">
                                {% for orderItem in shipping.productOrderItems %}
                                    <li>
                                        <div class="ec-imageGrid">
                                            <div class="ec-imageGrid__img"><img src="{{ asset((orderItem.product is null ? null : orderItem.product.MainListImage)|no_image_product, 'save_image') }}" alt="{{ orderItem.productName }}"></div>
                                            <div class="ec-imageGrid__content">
                                                <p>{{ orderItem.productName }}{% if is_reduced_tax_rate(orderItem) %}{{ '※'|trans }}{% set isShowReducedTaxMess = true %}{% endif %}</p>
                                                <div class="cs-order_class">
                                                    {% if orderItem.productClass is not null and orderItem.productClass.classCategory1 %}
                                                        <p>{{ orderItem.productClass.classCategory1.className.name }}：{{ orderItem.productClass.classCategory1 }}</p>
                                                    {% endif %}
                                                    {% if orderItem.productClass is not null and orderItem.productClass.classCategory2 %}
                                                        <p>{{ orderItem.productClass.classCategory2.className.name }}：{{ orderItem.productClass.classCategory2 }}</p>
                                                    {% endif %}
                                                </div>
                                                {# <p>{{ orderItem.priceIncTax|price }} × {{ orderItem.quantity|number_format }}<span>{{ '小計：'|trans }}{{ orderItem.totalPrice|price }}</span></p> #}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <p>{{ isShowReducedTaxMess ? '※ は軽減税率対象商品です。'|trans }}</p>
                        </div>
                        <div class="ec-orderDelivery__address">
                            <p>{{ ''|trans }}{{ shipping.name01 }} {{ shipping.name02 }} ({{ shipping.kana01 }} {{ shipping.kana02 }}){{ ' 様'|trans }}</p>
                            <p>{{ '〒'|trans }}{{ shipping.postal_code }} {{ shipping.pref }}{{ shipping.addr01 }}{{ shipping.addr02 }}</p>
                            <p>{{ shipping.phone_number }}</p>
                        </div>
                        <div class="ec-orderDelivery__actions">
                            <div class="ec-selects">
                                <div class="ec-select">
                                    <label>{{ '配送方法'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].Delivery, { 'attr': { 'class': 'form-control', 'data-trigger': 'change' }}) }}
                                    {{ form_errors(form.Shippings[idx].Delivery) }}
                                </div>
                                <div class="ec-select ec-select__delivery">
                                    <label>{{ 'お届け日'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].shipping_delivery_date, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.Shippings[idx].shipping_delivery_date) }}
                                </div>
                                <div class="ec-select ec-select__time">
                                    <label>{{ 'お届け時間'|trans }}</label>
                                    {{ form_widget(form.Shippings[idx].DeliveryTime, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.Shippings[idx].DeliveryTime) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="ec-borderedDefs" style="border-top: none;">
                    <dl>
                        <dt>
                            {{ form_label(form.watch_target, '本人確認書類', { 'label_attr': { 'class': 'ec-label' }}) }}
                            <div class="ec-input{{ has_errors(form.image0) ? ' error' }}">
                                {{ form_widget(form.image0, {'attr': {'style': 'opacity: 0'}}) }}
                                {{ form_errors(form.image0) }}
                            </div>
                        </dt>
                        <dd>
                            <div class="col mb-2">
                                <div class="progress" style="display: none;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div id="thumb" class="c-form__fileUploadThumbnails clearfix"></div>
                                <div id="upload-zone" class="media py-5 border-ec-dashed mb-2 rounded">
                                    <div class="media-body">
                                        <i class="fa fa-cloud-upload fa-3x text-ec-lightGray mx-3 align-middle" aria-hidden="true"></i>
                                        {{ form_widget(form.customer_image, { attr : { accept : 'image/*', style : 'display:none;' } }) }}
                                        {{ form_errors(form.customer_image) }}
                                        <a class="btn btn-ec-regular mr-2" onclick="$('#shopping_order_customer_image').click()">
                                            {{ 'admin.common.file_select'|trans }}
                                        </a>※複数添付可
                                    </div><!-- /.media-body -->
                                </div><!-- /.media -->
                                <a href="{{ url('homepage') }}user_data/first-kakunin/" target="_blank" class="ec-link">本人確認書類とは?</a>
                            </div>
                        </dd>
                    </dl>
                </div>
                <div class="cs-orderOptions">
                    {% if installationAgentForm is defined and installationAgentForm is not null %}
                        <div class="cs-installation_agent">
                            <div class="ec-rectHeading" style="position: relative">
                                <h2>{{ '取付代行オプション'|trans }}</h2>
                                <div class="text-right cs-toggle-icon"><a data-toggle="collapse" href="#installationAgent"><i class="fa fa-angle-up fa-lg"></i></a></div>
                            </div>
                            <div id="installationAgent">
                                <p>
                                    専門スタッフがご希望の取り付け先にお伺いし、みまもりCUBEの取り付けと設定を代行いたします。<br/>
                                    1台19,800円/2台30,800円（税込）となります。<br/>
                                    ※作業時間は90分です。90分を超えた場合は別途延長料金が発生致します。<br/>
                                    ※一部追加費用が必要となる地域もございます。対応エリアにつきましてはお問い合わせください<br/>
                                </p>
                                <div class="ec-borderedDefs h-adr">
                                    <span class="p-country-name" style="display:none;">Japan</span>
                                    <dl>
                                        <dt>
                                            {{ form_label(installationAgentForm.name, 'common.name', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </dt>
                                        <dd>
                                            <div class="ec-halfInput{{ has_errors(installationAgentForm.name.name01, installationAgentForm.name.name02) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.name.name01, { 'attr': { 'placeholder': 'common.last_name' }}) }}
                                                {{ form_widget(installationAgentForm.name.name02, { 'attr': { 'placeholder': 'common.first_name' }}) }}
                                                {{ form_errors(installationAgentForm.name.name01) }}
                                                {{ form_errors(installationAgentForm.name.name02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            {{ form_label(installationAgentForm.kana, 'common.kana', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </dt>
                                        <dd>
                                            <div class="ec-halfInput{{ has_errors(installationAgentForm.kana.kana01, installationAgentForm.kana.kana02) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.kana.kana01, { 'attr': { 'placeholder': 'common.last_name_kana' }}) }}
                                                {{ form_widget(installationAgentForm.kana.kana02, { 'attr': { 'placeholder': 'common.first_name_kana' }}) }}
                                                {{ form_errors(installationAgentForm.kana.kana01) }}
                                                {{ form_errors(installationAgentForm.kana.kana02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            {{ form_label(installationAgentForm.address, 'common.address', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </dt>
                                        <dd>
                                            <div class="ec-zipInput{{ has_errors(installationAgentForm.postal_code) ? ' error' }}"><span>{{ 'common.postal_symbol'|trans }}</span>
                                                {{ form_widget(installationAgentForm.postal_code) }}
                                                <div class="ec-zipInputHelp">
                                                    <div class="ec-zipInputHelp__icon">
                                                        <div class="ec-icon"><img src="{{ asset('assets/icon/question-white.svg') }}" alt=""></div>
                                                    </div><a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ 'common.search_postal_code'|trans }}</span></a>
                                                </div>
                                                {{ form_errors(installationAgentForm.postal_code) }}
                                            </div>
                                            <div class="ec-select{{ has_errors(installationAgentForm.address.pref) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.address.pref) }}
                                                {{ form_errors(installationAgentForm.address.pref) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(installationAgentForm.address.addr01) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.address.addr01, { 'attr': { 'placeholder': 'common.address_sample_01' }}) }}
                                                {{ form_errors(installationAgentForm.address.addr01) }}
                                            </div>
                                            <div class="ec-input{{ has_errors(installationAgentForm.address.addr02) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.address.addr02,  { 'attr': { 'placeholder': 'common.address_sample_02' }}) }}
                                                {{ form_errors(installationAgentForm.address.addr02) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            {{ form_label(installationAgentForm.phone_number, 'common.phone_number', { 'label_attr': { 'class': 'ec-label' }}) }}
                                        </dt>
                                        <dd>
                                            <div class="ec-telInput{{ has_errors(installationAgentForm.phone_number) ? ' error' }}">
                                                {{ form_widget(installationAgentForm.phone_number) }}
                                                {{ form_errors(installationAgentForm.phone_number) }}
                                            </div>
                                        </dd>
                                    </dl>
                                    {# エンティティ拡張の自動出力 #}
                                    {% for f in installationAgentForm|filter(f => f.vars.eccube_form_options.auto_render) %}
                                        {% if f.vars.eccube_form_options.form_theme %}
                                            {% form_theme f f.vars.eccube_form_options.form_theme %}
                                            {{ form_row(f) }}
                                        {% else %}
                                            <dl>
                                                <dt>
                                                    {{ form_label(f) }}
                                                </dt>
                                                <dd>
                                                    <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                                        {{ form_widget(f) }}
                                                        {{ form_errors(f) }}
                                                    </div>
                                                </dd>
                                            </dl>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="cs-watch_target" style="margin-top: 15px;">
                        <div class="ec-rectHeading">
                            <h2>{{ '見守り対象者がいる場合はご入力ください'|trans }}</h2>
                        </div>
                        <p>
                            解約時はご利用期間により契約解除料が発生する場合がございますが、下記の欄に見守り対象者の方のご登録をいただいた場合は【介護施設への入所】【ご逝去】に限り、証明書類を送付いただくと免除とさせていただいております。
                        </p>
                        <div class="ec-checkbox{{ has_errors(form.watch_target) ? ' error' }}">
                            {{ form_widget(form.watch_target) }}
                            {{ form_errors(form.watch_target) }}
                        </div>
                        <div id="watchTargetContent">
                        </div>
                    </div>
                </div>
                <div class="ec-orderPayment">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お支払方法'|trans }}</h2>
                    </div>
                    <div class="ec-radio">
                        {% for key, child in form.Payment %}
                            <div style="display: block;">
                                {% set Payment = form.Payment.vars.choices[key].data %}
                                {{ form_widget(child, { 'attr': { 'data-trigger': 'change' }}) }}
                                {% if Payment.payment_image is not null %}
                                    <p><img src="{{ asset(Payment.payment_image, 'save_image') }}"></p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="ec-input {{ has_errors(form.Payment) ? ' error' }}">{{ form_errors(form.Payment) }}</div>
                </div>
                {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-orderPayment">
                        <div class="ec-rectHeading">
                            <h2>{{ '利用ポイント'|trans }}</h2>
                        </div>
                        <div class="ec-input {{ has_errors(form.use_point) ? ' error' }}">
                            <p>{{ '%point% pt が利用可能です。'|trans({ '%point%': Order.Customer.Point|number_format }) }}</p>
                            {{ form_widget(form.use_point, { 'attr': { 'type': 'text', 'class': 'form-control', 'data-trigger': 'change' }}) }}
                            {{ form_errors(form.use_point) }}
                        </div>
                    </div>
                {% endif %}
                <div class="ec-orderConfirm">
                    <div class="ec-rectHeading">
                        <h2>{{ 'お問い合わせ'|trans }}</h2>
                    </div>
                    <div class="ec-input">
                        {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': 'お問い合わせ事項がございましたら、こちらにご入力ください。(3000文字まで)'|trans, 'rows': '6'}}) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                {{ render(path('block_calendar')) }}
            </div>
            <div class="ec-orderRole__summary">
                <div class="ec-totalBox">
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '小計'|trans }}</dt>
                        <dd class="ec-totalBox__specTotal">{{ Order.subtotal|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '手数料'|trans }}</dt>
                        <dd>{{ Order.charge|price }}</dd>
                    </dl>
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '送料'|trans }}</dt>
                        <dd>{{ Order.deliveryFeeTotal|price }}</dd>
                    </dl>
                    {% for item in Order.tax_free_discount_items %}
                        {# {% if loop.first %}<div class="ec-totalBox__total"></div>{% endif %} #}
                        <dl class="ec-totalBox__spec">
                            {# <dt>{{ item.product_name }}</dt> #}
                            <dt> 割引 </dt>
                            <dd>{{ item.total_price|price }}</dd>
                        </dl>
                    {% endfor %}
                    {% if Order.taxable_discount < 0 %}
                    <dl class="ec-totalBox__spec">
                        <dt>{{ '値引き'|trans }}</dt>
                        <dd>{{ Order.taxable_discount|price }}</dd>
                    </dl>
                    {% endif %}
                    <div class="ec-totalBox__total">{{ '合計'|trans }}<span class="ec-totalBox__price">{{ Order.taxable_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% for rate, total in Order.taxable_total_by_tax_rate %}
                    <dl class="ec-totalBox__taxRate">
                        <dt>{{ '税率 %rate% %対象'|trans({ '%rate%': rate }) }}</dt>
                        <dd>{{ total|price }}</dd>
                    </dl>
                    {% endfor %}
                    <div class="ec-totalBox__paymentTotal">{{ 'お支払い合計'|trans }}<span class="ec-totalBox__price">{{ Order.payment_total|price }}</span><span class="ec-totalBox__taxLabel">{{ '税込'|trans }}</span></div>
                    {% if BaseInfo.isOptionPoint and Order.Customer is not null %}
                    <div class="ec-totalBox__pointBlock">
                        <dl class="ec-totalBox__spec">
                            <dt>{{ 'ご利用ポイント'|trans }}</dt>
                            <dd>{{ Order.UsePoint|number_format }} pt</dd>
                        </dl>
                        <dl class="ec-totalBox__spec">
                            <dt><span class="ec-font-bold">{{ '加算ポイント'|trans }}</span></dt>
                            <dd><span class="ec-font-bold">{{ Order.AddPoint|number_format }} pt</span></dd>
                        </dl>
                    </div>
                    {% endif %}
                    <div class="ec-totalBox__btn">
                        <button type="submit" class="ec-blockBtn--action">{{ '確認する'|trans }}</button>
                        <a href="{{ url("cart") }}" class="ec-blockBtn--cancel">{{ 'カートに戻る'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}