{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv type_about">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/about02/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/about02/icon_cube.png') }}" alt=""></span>
						<span class="underMv_cont_head">みまもりCUBEについて</span>
					</h2>
					<p class="underMv_cont_txt">SIMカード内蔵のカメラなので設置場所でコンセントをさすだけで<br>
						すぐにお手持ちのスマートフォン等で映像を見る事ができます。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">みまもりCUBEについて</li>
	</ul>

	<div class="btn_col3 cmnbox01">
		<div class="btn_col3_item"><a href="{{ url('homepage') }}user_data/about01/" class="btn_col3_btn">利用シーンについて</a></div>
		<div class="btn_col3_item"><a href="{{ url('homepage') }}user_data/about02/" class="btn_col3_btn">動画でわかる設置マニュアル</a></div>
		<div class="btn_col3_item"><a href="{{ url('homepage') }}user_data/about03/" class="btn_col3_btn is_current">資料マニュアルはこちら</a></div>
	</div>

	<div class="about03_cont">
		<section class="about03_block">
			<div class="cmnbox01">
				<h2 class="common_head type_icon type_pdf">
					<span>バージョン別 操作マニュアル</span>
					<a href="/pdf/about03/manual_versionup1.pdf" class="common_link" target="_blank" rel="noopener">バージョンの確認方法はこちら</a>
				</h2>
				<ul class="about03_linkBox">
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.1.1.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/ramrockplayer.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.1.2.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual1.2.1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.1.3.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual1.3.1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.1.4.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_ver1.4.1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.0.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_ver2.0.1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.1.1 </p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_ver2.1.1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.2.1 </p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_2.2.1-2.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.5.1 </p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_2.5.1-1.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.6.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual-2.6.1_c.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
					<li class="about03_linkBox_item">
						<p class="about03_linkBox_txt">Ver.2.7.1</p>
						<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/manual_2.7.1_c.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
					</li>
				</ul>
			</div>
		</section>
		<section class="about03_block type02">
			<div class="about03_block_top">
				<div class="cmnbox01">
					<h2 class="underMv_cont_ttl type_content">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/about03/icon_guide.png') }}" alt=""></span>
						<span class="underMv_cont_head">クイックガイド</span>
					</h3>
					<p class="about03_txt">みまもりCUBEに同封しているマニュアルはこちらよりダウンロードできます。</p>
					<ul class="about03_tabBtn">
						<li class="about03_tabBtn_item is_active">みまもりCUBE</li>
						<li class="about03_tabBtn_item">みまもりCUBE Plus</li>
					</ul>
				</div>
			</div>
			<div class="about03_block_tab">
				<div class="cmnbox01">
					<ul class="about03_tab">
						<li class="about03_tab_item is_active">
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">1.まずはじめに</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cube01.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">2.初期設定ガイド</p>
								<div class="about03_linkBox_btn"><a href="/pdf/about03/cube02.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">3.設定、設置ガイド</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cube03.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">4.推奨取付け位置</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cube04.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">データ通信量の目安</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cube05.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">かんたん操作ガイド</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cube06.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
						</li>
						<li class="about03_tab_item">
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">1.まずはじめに</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP01.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">2.初期設定ガイド</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP02.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">3.設定、設置ガイド</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP03.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">4.推奨取付け位置</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP04.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">データ通信量の目安</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP05.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
							<div class="about03_tab_item_cont">
								<p class="about03_linkBox_txt">かんたん操作ガイド</p>
								<div class="about03_linkBox_btn"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about03/cubeP06.pdf" class="cmnbtn type_dl" target="_blank" rel="noopener"><span class="icon_dl"></span>資料をダウンロード</a></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</section>
	</div>

	<div class="cat_col2">
		<div class="cat_col2_item"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about02/catalog.pdf" target="_blank" class="cmnbtn type_blank">製品カタログをダウンロード<span class="icon_blank"></span></a></div>
		<div class="cat_col2_item"><a href="{{ url('homepage') }}html/template/default/assets/pdf/about02/pamphlet.pdf" target="_blank" class="cmnbtn type_blank">製品パンフレットをダウンロード<span class="icon_blank"></span></a></div>
	</div>

</div>
<!--/content-->

{% endblock %}