{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv cam">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/campaign/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/campaign/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">お試し体験<br class="pc">キャンペーン</span>
					</h2>
					<p class="underMv_cont_txt">30日間お試し価格でみまもりCUBEをご利用いただけます。<br>本契約の前にまずはお気軽にお試しください！</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">お試し体験キャンペーン</li>
	</ul>

	<section>
		<div class="camblock">
			<div class="cmnbox01">
			
				<div class="cam01">
					<p class="cam02"><span>本契約の前にまずはお試し！</span></p>
					<h3 class="cam03"><span>30日間お試し体験キャンペーン実施中！</span></h3>
					<ul class="cam04">
						<li class="cam05"><img src="{{ asset('assets/img/campaign/cam_01.png') }}"></li>
						<li class="cam06"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" width="25" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></li>
						<li class="cam07"><img src="{{ asset('assets/img/campaign/cam_02.png') }}"></li>
					</ul>
				</div>
				
			</div>
		</div>
		<div class="opblock">
			<div class="cmnbox01">
			
				<div class="op01">
					<div class="op02">
						<div class="op03"><img src="{{ asset('assets/img/campaign/op_01.png') }}"></div>
						<p class="op04">検知オプションも<br>お試しが可能</p>
					</div>
					<div class="op02">
						<div class="op03"><img src="{{ asset('assets/img/campaign/op_02.png') }}"></div>
						<p class="op04">最大2台まで<br>レンタル可能</p>
					</div>
					<div class="op02">
						<div class="op03"><img src="{{ asset('assets/img/campaign/op_03.png') }}"></div>
						<p class="op04">期間中はデータ容量<br>5GBまで<br><span>※通常1台につき1GB</span></p>
					</div>
					<div class="op02">
						<div class="op03"><img src="{{ asset('assets/img/campaign/op_04.png') }}"></div>
						<p class="op04">期間中の<br>キャンセル可能</p>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<section>
		<div class="cflowblock">
			<div class="cmnbox01">
			
				<h3 class="cmntitle01"><span>キャンペーンの流れ</span></h3>
				<div class="cflow01">
					<div class="cflow02">
						<img src="{{ asset('assets/img/campaign/flow_01.png') }}" alt="キャンペーンの流れ" class="pc">
						<img src="{{ asset('assets/img/campaign/flow_01_sp.png') }}" alt="キャンペーンの流れ" class="sp">
					</div>
				</div>
				<ul class="cflow03">
					<li>※継続利用の方は再登録や機材の交換などは行わず引き続きご利用いただけます。</li>
					<li>※継続利用されない場合はキャンペーン終了日までに<a href="{{ url('mypage') }}" class="link01">マイページ</a>よりキャンセル申請をしてください。</li>
					<li>※機材の返却はキャンペーン終了日より1週間以内にご返却ください。</li>
					<li>※キャンペーンは予告なく終了する場合がございますので、あらかじめご了承ください。</li>
				</ul>
				
			</div>
		</div>
	</section>
	
	<section>
		<div class="camflowblock">
			<div class="cmnbox01">
			
				<h3 class="cmntitle01"><span>お試し体験キャンペーンお申込みの流れ</span></h3>
				<div class="camflow01">
					<h4 class="camflow02">ご用意いただけるとお申込みがスムーズです</h4>
					<div class="camflow03">
						<dl class="camflow04">
							<dt><img src="{{ asset('assets/img/campaign/flow_02.png') }}"></dt>
							<dd>登録用メールアドレス</dd>
						</dl>
						<dl class="camflow04">
							<dt><img src="{{ asset('assets/img/campaign/flow_03.png') }}"></dt>
							<dd>本人確認書類</dd>
						</dl>
						<dl class="camflow04 type02">
							<dt><img src="{{ asset('assets/img/campaign/flow_04.png') }}"></dt>
							<dd>クレジットカードまたは<br>口座情報の判るもの</dd>
						</dl>
					</div>
				</div>
				
				<div class="tflows01">
					<div class="tflows02">
						<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_05.png') }}" alt="FLOW01"></div>
						<dl class="tflows04">
							<dt>会員登録</dt>
							<dd>見守る方（ご家族様代表の方1名）で登録をお願いします。<br>※見守られる方のお名前ではありません。<br>
							※アンケートにご協力いただいた方にはキャンペーン料金から330円割引きさせていただきます</dd>
						</dl>
					</div>
					<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
					<div class="tflows02">
						<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_06.png') }}" alt="FLOW02"></div>
						<dl class="tflows04">
							<dt>会員登録完了メールのURLをクリック</dt>
							<dd>自動配信のためメールは数分で配信されます。</dd>
						</dl>
					</div>
					<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
					<div class="tflows02">
						<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_07.png') }}" alt="FLOW03"></div>
						<dl class="tflows04">
							<dt>本人確認書類送付</dt>
							<dd>「ファイルを選択」ボタンを選択し、画像のアップロードをお願いします。<br>
							※会員登録された方の本人確認書類です<br>
							※<a href="https://ramrock-eyes.jp/first-kakunin/" class="link01" target="_blank">本人確認書類とは？</a></dd>
						</dl>
					</div>
					<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
					<div class="tflows02 type02">
						<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_08.png') }}" alt="FLOW04"></div>
						<dl class="tflows04">
							<dt>決済方法の選択</dt>
							<dd>
							    ①クレジットカードか口座情報を選択し、登録<br>
							    ②※口座振替をご希望の方はご利用可能金融機関一覧を<a href="https://www.cardservice.co.jp/service/bank/cats/terms.html" class="link01" target="_blank">こちら</a>よりご確認ください
							</dd>
						</dl>
					</div>
				</div>
				<div class="tflows01">
					{#<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>#}
					{#<div class="tflows02">#}
					{#	<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_09.png') }}" alt="FLOW05"></div>#}
					{#	<dl class="tflows04">#}
					{#		<dt>本人確認書類送付</dt>#}
					{#		<dd>本人確認用画像フォーム下のアンケートにご協力いただくとキャンペーン料金から330円割引させていただきます。</dd>#}
					{#	</dl>#}
					{#</div>#}
					{#<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>#}
					{#<div class="tflows02">#}
					{#	<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_10.png') }}" alt="FLOW06"></div>#}
					{#	<dl class="tflows04">#}
					{#		<dt>口座振替を選択された方は<br>口座登録用メール内より<br>お手続き</dt>#}
					{#		<dd>会員登録された方以外の口座でもご利用いただけます。</dd>#}
					{#	</dl>#}
					{#</div>#}
					<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
					<div class="tflows02">
						<div class="tflows03"><img src="{{ asset('assets/img/campaign/flow_09.png') }}" alt="FLOW07"></div>
						<dl class="tflows04">
							<dt>発送</dt>
							<dd>お申込み日の翌営業日に発送致します。</dd>
						</dl>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<section>
		<div class="cfaqblock">
			<div class="cmnbox01">
			
				<h3 class="cmntitle01"><span>よくある質問</span></h3>
				<div class="tfaq01">
					<div class="tfaq02">
						<div class="tfaq03">
							<div class="tfaq04 acctitle">
								<div class="tfaq05"><span>Q</span></div>
								<p class="tfaq06">複数人で見られるの？</p>
							</div>
							<div class="acccont">
								<div class="tfaq07">
									<div class="tfaq05"><span>A</span></div>
									<p class="tfaq08">みまもりCUBEは複数人で閲覧することが可能です。<br>データ通信量を分け合ってご利用いただくので、ご契約後は必要に応じてデータの通信量の追加をおすすめします。</p>
								</div>
							</div>
						</div>
						<div class="tfaq03">
							<div class="tfaq04 acctitle">
								<div class="tfaq05"><span>Q</span></div>
								<p class="tfaq06">データ通信料はどこで確認できるの？</p>
							</div>
							<div class="acccont">
								<div class="tfaq07">
									<div class="tfaq05"><span>A</span></div>
									<p class="tfaq08">カメラの映像を見ている画面に通信料を確認できるメニュー項目があります。</p>
								</div>
							</div>
						</div>
						<div class="tfaq03">
							<div class="tfaq04 acctitle">
								<div class="tfaq05"><span>Q</span></div>
								<p class="tfaq06">お試し期間中、データ通信料は追加できるの？</p>
							</div>
							<div class="acccont">
								<div class="tfaq07">
									<div class="tfaq05"><span>A</span></div>
									<p class="tfaq08">お試し期間中は、データ通信量が1GBを超える場合でも追加の費用は発生しません。<br>お試し期間中にどのくらいのデータ通信量が必要か実際にご利用いただきご確認いただくことをおすすめしております。<br><span class="fs">※ご契約後、1GBでは足りない場合は1,100円/1GBで追加が可能です。</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
</div>
<!--/content-->

{% endblock %}