{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv faq">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/faq/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/faq/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">よくある質問</span>
					</h2>
					<p class="underMv_cont_txt">画像認識技術により徘徊等を検知する見守りカメラ「みまもりCUBE」<br>お客様からよくいただくご質問を掲載しております。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">よくある質問</li>
	</ul>

	<section>	
		<div class="underblock">
			<div class="cmnbox01">
				<div class="underbox01">
					
					<div class="btn_col3 type02">
						<div class="btn_col3_item"><a href="#anc01" class="btn_col3_btn to_page">よく見られている質問</a></div>
						<div class="btn_col3_item"><a href="#anc02" class="btn_col3_btn to_page">キャンペーンに関する質問</a></div>
						<div class="btn_col3_item"><a href="#anc03" class="btn_col3_btn to_page">機能に関するご質問</a></div>
					</div>
					
					<div class="btn_col3 type02 type03">
						<div class="btn_col3_item"><a href="#anc04" class="btn_col3_btn to_page">設定・契約に関するご質問</a></div>
						<div class="btn_col3_item"><a href="#anc05" class="btn_col3_btn to_page">トラブルシューティング</a></div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<section class="pn" id="anc01">	
		<div class="faqblock">
		
			<div class="faqbox">
				<div class="cmnbox01">
					
					<h3 class="cmntitle01"><span>よく見られている質問</span></h3>
					<div class="tfaq01">
						<div class="tfaq02">
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">お試し体験キャンペーンは、継続利用が条件なのですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">いいえ、お試し体験キャンペーン期間中にもご利用をやめることは可能です。<br><br>お試し体験キャンペーン終了後の翌日以降の継続利用をご希望でない場合は、弊社カスタマーセンターへ利用停止のご連絡をお願いしております。マイページのキャンセル申請フォームからのご連絡をお願い致します。<br><br>※返却の際の送料はお客様のご負担となります。予めご了承ください。</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">一般レンタルで利用中ですが、介護認定がおりました。介護保険へ切替は できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">切替可能です。但し介護保険適用商品のみまもりCUBEと交換する必要があり、初期費用等が再度発生します。<br>なお、その際一般レンタルご契約期間が一年未満の場合でも違約金は発生致しません。</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">データ通信量の翌月への繰り越しは可能ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">ご契約データ通信量を当月に到達しなかった場合でも、データ通信量を翌月へ繰り越しすることはできません。</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">携帯電話やパソコンは、どの機種でも利用できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">機種により一部機能がご利用できないものがございます。ご確認ください。</p>
											
											<div class="fawtable01">
												<div class="fawtable02">
													<table>
														<tr>
															<th>通信端末</th>
															<th>メール<br>通知</th>
															<th>ライブ<br>映像</th>
															<th>録画<br>確認</th>
															<th>音声を<br>聞く</th>
															<th>呼び<br>かけ</th>
															<th>設定<br>変更</th>
														</tr>
														<tr>
															<td class="fawtable03">携帯電話<br>
（ガラケー/フィーチャーフォン）<br>
※E-MAILを受信できることが条件</td>
															<td>〇<br>※1</td>
															<td>×</td>
															<td>×</td>
															<td>×</td>
															<td>×</td>
															<td>×</td>
														</tr>
														<tr>
															<td class="fawtable03">android端末<br>
（スマートフォン/タブレット）<br>
※android8以降のものが推奨</td>
															<td>〇<br>※1</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
														</tr>
														<tr>
															<td class="fawtable03">Apple社製端末（iPhone/iPad）<br>
※ios12.1.2以降のものが推奨</td>
															<td>〇<br>※1</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇</td>
														</tr>
														<tr>
															<td class="fawtable03">パソコン（Windows）<br>
※Windows10が推奨</td>
															<td>〇<br>※1</td>
															<td>〇</td>
															<td>〇</td>
															<td>〇<br>※2</td>
															<td>〇<br>※2</td>
															<td>〇</td>
														</tr>
													</table>
												</div>
											</div>
											
											<p class="faq01">※1　各種端末の設定や契約状況（メールフィルタ／迷惑メール設定）でみまもりCUBEのメールを受信できるように通信端末の設定を行ってください。<br>※2　パソコンで利用する際は、パソコンにマイクとスピーカが必要な場合があります。</p>
											<p class="faq01">注意事項<br>・通信端末の種類、または推奨ブラウザアプリのバージョン、または電波状況等の理由により、みまもりCUBEの機能が正常に作動しない場合があります。</p>											
											
										</div>
										
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">利用予定の自宅にネット(Wi-Fi)回線があるのですが、その場合もみまもりCUBEの月額利用料金は同じですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">みまもりCUBEにSIMカードが内蔵されていますので、月額利用料金はネット回線の有無にかかわらず同一の料金となります。※Wi-Fiに接続することはできません。</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">本人確認の方法がわかりません。どのようにしたら良いですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">みまもりCUBEを申し込む際、本人確認が必要となります。以下フォームよりご注文者様の情報と同じ内容が記載された本人確認書をアップロードください。</p>
										
											<ul class="faq02">
												<li>
													<a href="{{ url('homepage') }}user_data/flow-reservation/first-kakunin/" class="cmnbtn type02">
														<span class="cmnbtntxt">本人確認書類提出フォーム</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<section class="pn" id="anc02">	
		<div class="faqblock">
		
			<div class="faqbox">
				<div class="cmnbox01">
					
					<h3 class="cmntitle01"><span>キャンペーンに関するご質問</span></h3>
					<div class="tfaq01">
						<div class="tfaq02">
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">お試しキャンペーンの概要を教えてください。</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											<p class="faq01">お試し体験キャンペーンはみまもりCUBEを最大2台まで、<br>
2,900円（税込3,190円）でレンタルすることができます。<br>
お試し体験キャンペーン期間は発送日から30日間です。</p>
										
											<ul class="faq02 type02">
												<li>
													<a href="{{ url('homepage') }}user_data/campaign/" class="cmnbtn type01">
														<span class="cmnbtntxt">お試し体験キャンペーンについてはこちら</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">検知オプションもお試しできますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">はい、お試し体験キャンペーン期間中であれば、みまもりCUBEの見守り専用の機能に加えて検知オプションも追加でお試しが可能です。<br><br>
検知オプションを追加する・しないに関わらずキャンペーン中は2,900円（税込3,190円）でお試しできますので、ぜひ検知プランをご体験ください！</p>
										
											<ul class="faq02 type02">
												<li>
													<a href="{{ url('homepage') }}user_data/campaign/" class="cmnbtn type01">
														<span class="cmnbtntxt">お試し体験キャンペーンについてはこちら</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
												<li>
													<a href="{{ url('homepage') }}user_data/function/" class="cmnbtn type02">
														<span class="cmnbtntxt">機能についてはこちら</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">お試し体験キャンペーンはいつまで続きますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											現在のところ継続予定ですが、予告なく終了する場合がございますので、あらかじめご了承ください。
										</div>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<section class="pn" id="anc03">	
		<div class="faqblock">
		
			<div class="faqbox">
				<div class="cmnbox01">
					
					<h3 class="cmntitle01"><span>機能に関するご質問</span></h3>
					<div class="tfaq01">
						<div class="tfaq02">
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">テレビ電話の様な会話はできますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											双方向会話が可能ですがテレビ電話の様にではなく、見守る側からカメラ映像を見るのみになります。<br><br>

映像を見ながら端末で声掛けの操作を行いますので見守られる方の操作は不要です。<br><br>

電話サービスに代わるものではない為、緊急時や重要な会話等のご利用はお控えください。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">1台のカメラの映像を複数人で同時に確認することはできますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											<p class="faq01">はい、可能です。特に人数の制限等はございません。料金が増えるということもございません。<br><br>

ご契約通信量を複数人でシェアしてご利用いただきます。<br><br>

同時に通信を行う事により、下記のような点で注意が必要です。<br><br>

・通信に負担がかかり、カクカクした映像になってしまう<br>
・データ通信量が一気に増えるため、1GBをすぐに超過してしまう恐れがある<br><br>
データ通信量の目安は以下の通りです。</p>
											<div class="fawtable01">
												<div class="fawtable02">
													<table>
														<tr>
															<th>項目</th>
															<th>1GB</th>
														</tr>
														<tr>
															<td class="bold">画像付メール受信<br>
or<br>
Ramrock Player接続時間</td>
															<td>約20,000通(1日当り約600通)<br>
or<br>
約300分(1日当り約10分)</td>
														</tr>
													</table>
												</div>
											</div>
											
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">個別認証・顔認証は機能として搭載していますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											申し訳ございません。個別認証や顔認証はできません。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">プライバシーが心配です（モザイク処理などの機能はありますか？）</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											カメラ映像の任意の場所にモザイクを設定する事ができます。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">みまもりCUBEの耐久年数はどのくらいですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											耐久年数はおおよそ6年間となります。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">介護用ではなく、工場現場用（物置内）の監視をしたいのですが、みまもりCUBEは介護用ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											いいえ、介護の現場以外でも、屋内であればどこでも利用可能です。また、設置場所も家庭用のコンセントがあれば、動作しますのでみまもりCUBEは様々なシーン・現場で活躍しています。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">レンタル中に、製品を壊した場合はどうなりますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">みまもりCUBE1台につき最大30,000の損害金をご請求する場合がございます。<br><br>
ただし、あんしん保守パック＜みまもりCUBE1台毎　月額330円＞に加入する事により、万が一、お客様の不注意による破損等が生じた場合、損害金が軽減または免除される場合があります（上限額：30,000円）</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_01.jpg') }}"></div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">カメラはどのくらいの範囲を映すことができますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
										
											<p class="faq01">高いところから見下ろすように設置することにより、約6畳ほどお部屋を確認することが可能です。<br><br>
画角78°　垂直46°　対角103°　の範囲で映像を見ることが可能です。</p>
											<ul class="faq02">
												<li>
													<a href="{{ url('homepage') }}user_data/about01/#3step" class="cmnbtn type02">
														<span class="cmnbtntxt">取付設定方法を見る</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">スマホの設定は難しいですか？アプリを使用するのですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">スマホ等への接続方法は、①QRコード読み取り　②URL入力　の2通りございます。どちらも製品に同梱している「お客様専用ログイン情報」に記載があります。<br><br>

iPhoneの方はSafari　android、PCの方はGoogleChromeを使用します。<br><br>

同梱のマニュアルをご覧のうえ設定をお願いいたします。設定方法は動画でもご覧いただけます。ご不明な点がございましたら、オペレーションセンターへお問合せください。</p>
											<p class="faq01"><a href="{{ url('homepage') }}user_data/about02/" class="link02">動画マニュアルを見る</a></p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">docomo以外のスマートフォン・タブレットでは利用できないのでしょうか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											いいえ、docomo以外のスマートフォン・タブレットでもご利用可能です。<br>
みまもりCUBE自体の通信は、docomo回線を使用して行っていますが、確認側の通信端末の回線はdocomo以外でも問題ございません。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">通知方法はどういったものがありますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
										
											<p class="faq01">検知した場合の通知には、音声通知、画像付メールの２種類の通知方法があります。</p>
											<h3 class="faqtitle01">音声通知</h3>
											<p class="faq01">その場で、カメラに搭載したスピーカから任意の音声でお知らせします。</p>
											
											<h3 class="faqtitle01">画像付メール</h3>
											<p class="faq01">検知した時の画像を添付してメールでお知らせします。</p>
											<ul class="faq02">
												<li>
													<a href="{{ url('homepage') }}user_data/about01/" class="cmnbtn type02">
														<span class="cmnbtntxt">みまもりCUBEの特徴</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>


										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">地震や災害時でも問題なく使用できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											みまもりCUBEのコンセントを挿して、電源供給されている限り問題はございません。災害時などの場合は、通信が混線し繋がりにくくなる可能性があります。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">CUBEからどれくらい離れた距離まで検知できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											距離は8mぐらいまでは検知可能です。<br><br>
※設定内容によって異なりますので、まずはオペレーターにご相談ください。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">みまもりCUBEは徘徊以外にも検知できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											<p class="faq01">ドアからの出入りや、ベッドから離れようとする行動を検知できます。</p>
											<p class="faq01">※この他、様々な検知が可能ですのでご相談ください。</p>
											<p class="faq01 bold center">検知機能は別途「検知オプション」のお申込みが必要です</p>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">屋外でも使用できますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											みまもりCUBEは屋内専用のカメラとなります。<br><br>
屋内・屋外どちらも設置可能な商品「みまもりCUBE -Plus-」はこちらから→<a href="https://ramrock-eyes.jp/plus/" class="link02" target="_blank">https://ramrock-eyes.jp/plus/</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">夜中でも検知は可能ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">夜間も昼間と同じように検知可能です。「みまもりCUBE」のカメラに内蔵している赤外線照射機能により、周りが暗くなると自動で暗視モードに切り替わります。</p>
											<p class="faq01">※赤外線の特性上、映像は白黒となりますが、検知機能は問題なく動作するため、暗闇でも問題なくご利用いただけます。</p>
											<p class="faq01 bold center">検知機能は別途「検知オプション」のお申込みが必要です</p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">メールの配信設定は何件まで登録できるの？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											「.」「,」含む、256文字まで登録できます。一人のメールアドレスが20文字である場合、10名程度登録できます。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">停電した場合はどうなるのですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											停電したときは動作しません。<br>
みまもりCUBEを設置している施設やご家庭に、非常用電源の設備がある場合はその電源を使用することで、停電時も動作させることは可能です。<br><br>
また、停電から復旧した際は自動的に起動がかかるよう設定されています。
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<section class="pn" id="anc04">	
		<div class="faqblock">
		
			<div class="faqbox">
				<div class="cmnbox01">
					
					<h3 class="cmntitle01"><span>設定・契約に関するご質問</span></h3>
					<div class="tfaq01">
						<div class="tfaq02">
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">登録しているクレジットカードの変更手順を教えてください</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
										
											<p class="faq01">クレジットカード変更手順はもう一度ご注文をしていただきその際に新しいクレジットカードの情報の登録していただく流れとなります。</p>
											<ul class="faq03">
												<li>1.下記URLを選択<br><a href="https://ramrock-eyes.jp/products/4273.html" class="link02" target="_blank">https://ramrock-eyes.jp/products/4273.html</a></li>
												<li>2.任意の台数・オプションの有無を選択して「お申込み」へ<br><span class="bold uline">配送先やご請求額が表示されますが、新たな発送やご請求はございません。</span></li>
												<li>3.メールアドレス・パスワードを入力しログイン</li>
												<li>4.「上記お届け先に送る」を選択</li>
												<li>5.「□確認しました」にチェック</li>
												<li>6.お届け時間指定等をご記入できるフリー欄に<span class="faq04">【クレジットカード変更のため】</span>と必ずご記入ください</li>
												<li>7.お支払い方法で「クレジットカード決済」を選択し「次へ」<br>※ここで【変更したいクレジットカードの情報】を入力してください</li>
												<li>8.新しいクレジットカードのご登録をお願いいたします。</li>
											</ul>
											<p class="faq01">※ご注文手続きが完了しましたら本人確認書類のアップロード画面に切り替わりますが送付は必要はございません。</p>
											<p class="faq01">弊社にてお手続きが完了しましたら、メールにてご連絡させていただき、ご注文取消し処理をさせていただきます。</p>
											<p class="faq01">お手数おかけ致しますがよろしくお願い致します。</p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">施設への入所が決まったので、キャンセル・解約を希望しています。違約金はかかりますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											解約理由が【ご逝去】【施設入所】の場合に限り、違約金なしでの解約が可能です。商品返送時に、入所証明書やご逝去がわかる書類を同梱してください。<br><br>

施設入所証明書のダウンロードは<a href="{{ url('homepage') }}html/template/default/assets/pdf/a74525fd6dcddd418ad966d1df068b42.pdf" class="link02" target="_blank">こちらから</a>
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">何GBを契約すればいいですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">ご利用状況によって推奨するデータ通信量が変わります。</p>
											<h3 class="faqtitle01">1GBの目安</h3>
											<p class="faq01">・画像付メール受信を主としたご利用または1か月間の視聴時間が合計300分以内の場合（1日10分以内とした利用の方におすすめ）</p>
											<h3 class="faqtitle01">2GBの目安</h3>
											<p class="faq01">・1か月間の視聴時間が合計600分以内の場合（1日20分以内とした利用の方におすすめ）</p>
											<h3 class="faqtitle01">3GBの目安</h3>
											<p class="faq01">・1か月間の視聴時間が合計900分以内の場合（1日30分以内とした頻繁に利用する方におすすめ）</p>
											<p class="faq01">※複数人でご利用される場合は【視聴時間÷人数】が1人当たりの視聴時間となります</p>
											<p class="faq01">ご契約中のデータ通信量を変更することができます。<br>
<a href="{{ url('homepage') }}user_data/planchange/" class="link02" target="_blank">＞データ通信量変更の手続きはこちらから</a></p>
											
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">施設に居る家族の様子を確認したいのですが可能ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											自宅ではなく、施設等での見守りカメラ設置に関しては、弊社で設置の可否について判断できかねますので、一度、施設様へご相談ください。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">使用できるデータ通信量を追加することは可能ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											はい、可能です。<br>
データ通信量の追加の場合、<span class="bold">＋1GB毎に1,000円（税込1,100円）／月の追加料金</span>となります。<br>
毎月25日までにご連絡いただきますと翌月1日からの適用となります
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">見守られる側(設置個所)で何か操作が必要ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											みまもりCUBEは見守る側だけが操作する商品ですので、見守り対象者が操作をする必要はありません。その他の機能に関しては機能紹介ページにてご確認ください。
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">パソコンなど操作が苦手なのですが、大丈夫でしょうか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											はい。弊社オペレーションセンターにお任せください！<br><br>

設置前のご不明点や不安点から、設置後のアフターフォローまで、お客様がお困りの点がございましたら些細なことでも構いません、全てご連絡ください！<br><br>

みまもりCUBEに関することであれば弊社オペレーターが全てお客様のサポートをさせていただきます。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">みまもりCUBEを購入したいのですが可能ですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											個人様への販売は現在行っておりませんのでレンタルにてご利用ください。<br>
（一部対応案件となりますので、詳しくはお問い合わせください）<br><br>

※法人様への販売は行っております。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">違約金は発生しますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											1年プランでのご契約後、最初の1年未満の解約に限り違約金が発生します。1年以上ご契約していただいた場合は違約金等発生しません。<br>

<span class="faq05">違約金の発生　例）</span><br>

契約6ヵ月での解約<br>

＜残り6ヵ月分＞×￥3,900が違約金となります。<br>

みまもりCUBE 1台をご契約　3,900円×6ヵ月＝<span class="faq04">23,400</span>円(不課税)<br>

<span class="faq04">23,400</span>円(不課税)の違約金をお支払いいただきます。<br>

違約金に関する詳細は<a href="{{ url('homepage') }}user_data/first-tokutei/" class="link02">レンタル約款</a>に記載をしておりますので、ご確認ください。<br>

※見守り対象者がいる場合、解約理由が【ご逝去】【入所】の場合に限り、証明書類の送付を持って違約金免除とさせていただきます。<br>詳しくは<a href="/{ url('homepage') }}user_data/first-tokutei/" class="link02">「違約金免除となる解約について」</a>をご確認ください。
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">介護保険利用時の導入は、どのような流れになりますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_02.jpg') }}"></div>
											<p class="faq01">介護保険を利用しての導入の際には、先ず担当のケアマネージャー様にその旨をお伝えし、<br class="pc">ケアマネージャー様より、福祉用具レンタル事業所様へ商品のレンタルに関してご連絡していただきます。<br>
その後、福祉用具レンタル事業所様と弊社でやり取りを行い、納品、ご利用開始という流れになります。</p>
											<ul class="faq02 type03">
												<li>
													<a href="{{ url('homepage') }}user_data/about01/" class="cmnbtn type02">
														<span class="cmnbtntxt">ラムロックアイズ みまもりCUBE<br class="sp"> (介護保険適用商品）について</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">支払方法はどんなものがありますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">「クレジットカード決済」と「口座自動振替」からお選びいただけます</p>
											<p class="faq01">・クレジットカード決済</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_03.png') }}"></div>
											<p class="faq01">・口座自動振替</p>
											<p class="faq01">お申込み後、口座自動振替登録用メールをお送り致します。ＷＥＢ上で口座登録が完了するため口座振替依頼書の返送や印鑑等は不要です。</p>
											<p class="faq01">■ご利用可能金融機関の確認はこちらから<br><a href="https://www.cardservice.co.jp/service/bank/cats/terms.html" class="link02" target="_blank">https://www.cardservice.co.jp/service/bank/cats/terms.html</a></p>
											<p class="faq01">■お手続きの流れはこちらで確認できます<br><a href="https://www.cardservice.co.jp/info/cats/pc/" class="link02" target="_blank">https://www.cardservice.co.jp/info/cats/pc/</a></p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">領収書の発行はできますか</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											当社からの領収書発行は行っておりません。クレジットカード会社から発行される「ご利用明細書」が税法上の領収書となります。
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">インターネット環境がなくても、みまもりCUBEは使えますか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">はい、使えます。</p>
											<p class="faq01">みまもりCUBEはSIMカード内蔵のカメラのため設置場所にインターネット回線(無線LAN含む)が無くても、コンセントをさし込むだけですぐにご利用いただけます。<br>
只今、みまもりCUBEのお試し体験キャンペーンを行っております。まずはどんな商品なのかお試しください！</p>
											<ul class="faq02">
												<li>
													<a href="{{ url('homepage') }}user_data/campaign/" class="cmnbtn type02">
														<span class="cmnbtntxt">お試し体験キャンペーン実施中</span>
														<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
													</a>
												</li>
											</ul>
											<p class="faq01 center"><a href="{{ url('homepage') }}user_data/function/" class="link02">詳しい機能説明はこちらから</a></p>
											<p class="faq01 center"><a href="{{ url('homepage') }}" class="link02">TOPページへ戻る</a></p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">解約希望です。どの様に手続きをすればいいですか？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											みまもりCUBEホームページへログイン後に表示されるマイページにある【お試しキャンセル・解約申請】のフォームよりお手続きをお願い致します。<br>

違約金の有無についてご不明な場合は、お問合せフォームよりお問合せください。
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">ラムロックからのメールが届きません。</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">「ドメイン」・「指定受信」・「本文にURLがあるメールの受信拒否」などの制限をかけているお客様は、弊社からのメールを受信できない場合がございます。弊社ドメイン「ramrock.co.jpとramrock-eyes.jp」を「指定受信設定」等をお願いします。お使いの携帯電話会社により細部の設定方法が異なります。Gmail、Yahoo!メール等のフリーメールは迷惑メールフォルダをご確認ください。<br>
メールの受信設定変更後、ラムロックへ（<span class="bold tel">0120-927-760</span>）ご連絡ください。</p>
											<h3 class="faqtitle01">NTTドコモ</h3>
											<p class="faq01"><a href="https://www.docomo.ne.jp/info/spam_mail/domain/index.html" class="link02" target="_blank">NTTドコモ</a>をご確認していただき、弊社ドメイン「ramrock.co.jpとramrock-eyes.jp」の指定受信設定をお願いします。</p>
											
											<h3 class="faqtitle01">ａｕ</h3>
											<p class="faq01"><a href="https://www.au.com/support/service/mobile/trouble/mail/email/filter/detail/domain/" class="link02" target="_blank">au</a>をご確認していただき、弊社ドメイン「ramrock.co.jpとramrock-eyes.jp」の受信リストの設定（ドメイン一致）をお願いします。</p>
											
											<h3 class="faqtitle01">ＳｏｆｔＢａｎｋ</h3>
											<p class="faq01"><a href="https://www.softbank.jp/mobile/support/mail/antispam/mms/whiteblack/" class="link02" target="_blank">Softbank</a>をご確認していただき、弊社ドメイン「ramrock.co.jpとramrock-eyes.jp」の受信許可リスト設定（後方一致）をお願いします。</p>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<section class="pn" id="anc05">	
		<div class="faqblock type02">
		
			<div class="faqbox">
				<div class="cmnbox01">
					
					<h3 class="cmntitle01"><span>トラブルシューティング</span></h3>
					<div class="tfaq01">
						<div class="tfaq02">
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">「このサイトにアクセスできません」「IPが見つかりません」と表示される</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">下記の手順に沿ってご確認ください</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_04.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>

										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">呼びかけてもみまもりCUBEから声が聞こえない</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">下記の手順に沿ってご確認ください</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_05.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">集音ボタンを押しても聞こえない</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">集音ボタンを押してピンクに変わった状態で以下の項目の確認をお願いします</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_06.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>
											
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">検知メールが届かない</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">以下の項目を確認をお願いします</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_07.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">ユーザーネームとパスワードが保存されません。</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">以下の項目を確認をお願いします</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_08.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">Ramrock Playerログイン画面にて「ユーザーネームまたはパスワードが違います」とでる</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">以下の項目を確認をお願いします</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_09.jpg') }}"></div>
											<p class="faq01">上記の方法をお試しいただいても復旧しない場合は、お手数ですが下記のオペレーションセンターお問合せフォームよりご連絡ください</p>
											
										</div>
									</div>
								</div>
							</div>
						
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">Ramrock Playerへログイン後、毎回お知らせメニューが出る</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">以下の項目を確認をお願いします</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_10.jpg') }}"></div>
											
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">「推奨ブラウザではありません」と表示が出る</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											iPhoneの方は【Safari】　androidの方は【GoogleChrome】が推奨ブラウザとなります
										</div>
									</div>
								</div>
							</div>
							
							<div class="tfaq03">
								<div class="tfaq04 acctitle">
									<div class="tfaq05"><span>Q</span></div>
									<p class="tfaq06">ショートカットが消えた。再設定方法は？</p>
								</div>
								<div class="acccont">
									<div class="tfaq07">
										<div class="tfaq05"><span>A</span></div>
										<div class="tfaq08">
											
											<p class="faq01">2通りの方法があります</p>
											<div class="faq01"><img src="{{ asset('assets/img/faq/pic_11.jpg') }}"></div>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</div>
<!--/content-->

{% endblock %}