{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv tokutei">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/first-tokutei/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/first-tokutei/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">特定商取引法に関する表示</span>
					</h2>
					<p class="underMv_cont_txt">販売業者 株式会社ラムロックの情報、ご利用料金、キャンセル、返品、お支払い方法、保証期間等、みまもりCUBEをご利用の上で大事な情報を記載しております。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">特定商取引法に関する表示</li>
	</ul>

	<section>	
		<div class="underblock">
			<div class="cmnbox01">
				<div class="underbox01">
					
					<div class="undertable01">
						<table>
							<tr>
								<th>販売業者</th>
								<td>株式会社　ラムロック</td>
							</tr>
							<tr>
								<th>運営責任者</th>
								<td>代表取締役　赤間 俊和</td>
							</tr>
							<tr>
								<th>住所・電話番号</th>
								<td>■本社<br>
〒820-1111<br>
福岡県飯塚市勢田1950-1<br>
TEL：0948-92-3156<br>
FAX：0948-92-3157<br><br>
■カスタマーセンター<br>
TEL : 0120-927-760(フリーダイヤル)<br>
携帯からは：0948-96-8160<br>
9:30～18:00（年末年始、日祝祭日除く）</td>
							</tr>
							<tr>
								<th>メールアドレス</th>
								<td><a href="{{ url('homepage') }}contact/" class="link02">お問い合わせフォーム</a>をご利用ください。</td>
							</tr>
							<tr>
								<th>ホームページURL</th>
								<td>https://ramrock-eyes.jp</td>
							</tr>
							<tr>
								<th>レンタル価格</th>
								<td>【初期費用】<br>
1回のお申込みにつき3,850円(税込)<br>
※複数台のお申込みの場合も一律3,850円(税込)となります<br>
※キャンペーン時は<a href="{{ url('homepage') }}user_data/campaign/" class="link02">キャンペーンルール</a>が適用されます<br><br>

【月額料金】<br>
1台目　4,290円(税込)＜1GB含む＞<br>
2台目　3,190円(税込)＜1GB含む＞<br>
《短期プラン》1台毎　+2,200円(税込)<br>
《各オプション》<br>
・検知オプション　1台1,100円(税込)<br>
・あんしん保守パック　1台330円(税込)<br>
・データ通信量の追加　1GB1,100円(税込)<br>
※追加ご希望の方は<a href="{{ url('homepage') }}mypage/" class="link02">マイページ</a>から申請お手続き後翌月反映<br><br>

【超過料金】<br>
ご契約されたデータ通信量を超えた場合、自動で発生いたします<br>
超過1GB毎3,300円(税込)</td>
							</tr>
							<tr>
								<th>レンタル数量</th>
								<td>台数に制限はございません。大量発注につきましては一度お問い合わせください。</td>
							</tr>
							<tr>
								<th>キャンセルの条件</th>
								<td>キャンセルについては、弊社からの「発送準備完了」メールが届く前に、キャンセルの申し出をされた場合に、お引き受けいたします。<br>
この場合、弊社からのキャンセル受付完了メールの受信を確認してください。</td>
							</tr>
							<tr>
								<th>商品返品の条件</th>
								<td>商品に初期不良があった場合、弊社にお問い合わせをいただいた後、交換品をお送り致します。送料は、原則弊社の負担とさせていただきます。<br>
※キャンペーン時は<a href="{{ url('homepage') }}user_data/campaign/" class="link02">キャンペーンルール</a>が適用されます</td>
							</tr>
							<tr>
								<th>お支払い方法</th>
								<td>
									<p class="tokutei01">■クレジットカード決済</p>									
									<div class="tokutei02"><img src="{{ asset('assets/img/first-tokutei/pic_01.png') }}" alt="クレジットカード決済"></div>
									<p class="tokutei01">■口座自動振替</p>
									<div class="tokutei03">
										<table>
											<tr>
												<th>クレジットカード</th>
												<td>ご利用月の翌月15日決済<br>お支払いはご指定のカード会社の振替日となります。</td>
											</tr>
											<tr>
												<th>口座自動振替</th>
												<td>ご利用月の翌月27日(金融機関休業日の場合は翌営業日)となります。<br>
												※振替毎￥220の手数料をご負担いただきます</td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
							<tr>
								<th>商品の引渡し時期および<br class="pc">使用開始可能時期</th>
								<td>【商品のお引渡し】<br>
お申込み日の翌営業日に順次発送いたします（※1）<br><br>

【使用開始可能時期】<br>
商品到着後、お客様による設置、端末への接続が完了次第、ご利用いただけます。<br>
※検知オプションをご利用の方は、リモートによる弊社オペレーターの検知設定が完了次第となります（※2）<br><br>

※1<br>
(1) 在庫状況により発送が遅れる場合がございます。<br>
(2) 本人確認完了、お支払い方法の登録完了後の発送となります。<br><br>

※2<br>
弊社オペレーターによる検知設定が集中した場合につきましては先着で実施します。</td>
							</tr>
							<tr>
								<th>契約期間</th>
								<td>【1年プラン】<br>
最低ご利用期間が最初の1年間（12か月間）となります。13か月目以降は1か月毎の自動更新です。<br><br>

【短期プラン】<br>
1か月毎の自動更新となります。</td>
							</tr>
							<tr>
								<th>契約解除</th>
								<td>解約月の末日までに<a href="{ url('homepage') }}mypage" class="link02">マイページ</a>内の「キャンセル・解約申請」より解約手続きをお願いします<br>
								    【1年プラン】<br>
利用期間が1年未満の解約の場合、違約金が発生します。<br>
違約金＝残余の期間に対応するレンタルサービス料金相当額（1か月あたり3,900円にて算出）<br>
但し、以下の理由の場合は証明書類をご送付いただくと違約金免除となる場合がございます<br>
1）施設への入所　2）ご逝去　3）介護保険への切替<br><br>

【短期プラン】<br>
1か月毎更新の見直しが可能です</td>
							</tr>
							<tr>
								<th>ソフトウェア等の<br class="pc">動作環境</th>
								<td>Safari及びGoogleChromeが使用できる端末が必要</td>
							</tr>
							<tr>
								<th>その他</th>
								<td>お受取辞退、長期ご不在等、お客さまのご都合により商品をお受け取りいただけない場合、商品の送料（送付・返納）は、お客さまのご負担とさせていただきます。<br><br>

お申込みにおいて、弊社が領収書を発行することができません。クレジットカード決済につきましては、クレジットカード会社から発行される「ご利用明細書」が、正式な領収書としての扱いを兼ねています。 </td>
							</tr>
						</table>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	

</div>
<!--/content-->

{% endblock %}