{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv function">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/function/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/function/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">機能紹介</span>
					</h2>
					<p class="underMv_cont_txt">あらかじめ設定した動作を画像付きメールや音声でお知らせをする検知機能や簡易的な会話など、様々な機能を豊富に搭載しています。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}">HOME</a></li>
		<li class="breadcrumb_list">機能紹介</li>
	</ul>

	<section>
		<div class="funblock">
			<div class="cmnbox01">
			
				<div class="fun01">
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_01.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能1</span></p>
							<h3 class="fun06">検知機能</h3>
							<p class="fun07">事前に設定した動作をみまもりCUBEが検知し、画像付メールを送信。画像付メールの送信先アドレスは、入力合計の文字数が最大256文字まで登録可能。</p>
							<p class="fun08">※検知オプションご利用時のみの機能です。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_02.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能2</span></p>
							<h3 class="fun06">ライブ映像(確認)</h3>
							<p class="fun07">みまもりCUBEの映像をスマートフォンで確認。通信端末は、Androidスマートフォン、Androidタブレット、iPhone、iPad、WindowsPCがご利用できます。（ガラケーはメールの受信のみとなります）</p>
							<p class="fun08">※閲覧時は通信料が発生いたします。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_03.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能3</span></p>
							<h3 class="fun06">録画映像(確認) </h3>
							<p class="fun07">内蔵のSDカードに約7日間録画を保存。大切なデータはダウンロード可能。また、検知した時間へスキップする頭出し機能を搭載。</p>
							<p class="fun08">※録画時間は保存する画像の大きさにより変動することがありますので、予めご了承ください。<br>※録音機能はございません。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_04.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能4</span></p>
							<h3 class="fun06">簡易的な双方向会話<br>（呼びかけ）</h3>
							<p class="fun07">離れた場所からでも映像を見ながら会話できる ※見守られる方の操作は必要ありません。</p>
							<p class="fun08">※電話サービスに代わるものではありません。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_05.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能5</span></p>
							<h3 class="fun06">プライバシー保護</h3>
							<p class="fun07">映像の中の指定の場所へモザイク処理を施すことが可能です。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_06.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能6</span></p>
							<h3 class="fun06">夜間暗視モード</h3>
							<p class="fun07">夜間でも白黒撮影モードでしっかりと映像を記録。赤外線LEDを内蔵することにより、照明がない場所でも白黒映像でご利用可能です。</p>
							<p class="fun08">※赤外線LED照明はうっすらと光っている程度です。部屋の中にいてもまぶしくありません。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_07.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能7</span></p>
							<h3 class="fun06">インターネット回線不要</h3>
							<p class="fun07">「みまもりCUBE」本体にSIMカードを搭載しているので、インターネット契約や工事の必要はありません。日本全国さまざまな場所から、カメラ映像をスマートフォンやタブレットで閲覧可能です。</p>
						</div>
					</div>
					<div class="fun02">
						<div class="fun03">
							<img src="{{ asset('assets/img/function/func_08.png') }}">
						</div>
						<div class="fun04">
							<p class="fun05"><span>みまもり CUBEの便利機能8</span></p>
							<h3 class="fun06">映像データのエクスポート</h3>
							<p class="fun07">録画したデータをお手持ちのパソコンへ出力し、長期保存が可能です。</p>
							<p class="fun08">※録画データを出力する際は、内臓のSIMを利用するためデータ容量を消費します。</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<section>	
		<div class="funcctablock">
			<div class="cmnbox01">
				<div class="cta02">
					<h2 class="cta03"><span>30日間お試し体験キャンペーン実施中！</span></h2>
					<div class="cta04">
						<div class="ctabox">
							<div class="cta05"><img src="{{ asset('assets/img/common/cta_01.png') }}"></div>
							<div class="cta06"><img src="{{ asset('assets/img/common/cta_02.png') }}"></div>
						</div>
						<p class="cta07"><span>期間中のキャンセルも可能！</span></p>
						<ul class="cta08">
							<li>
								<a href="{{ url('homepage') }}campaign/" class="cmnbtn type01 typecta">
									<span class="cmnbtntxt">キャンペーンの詳細を見る</span>
									<span class="cmnbtnicon02"><img src="{{ asset('assets/img/common/icon_arrow.svg') }}"></span>
								</a>
							</li>
							<li>
								<a href="{{ url('entry') }}" class="cmnbtn type02">
									<span class="cmnbtnicon"><img src="{{ asset('assets/img/common/icon_mail.svg') }}"></span>
									<span class="cmnbtntxt">お試し申し込み</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section>	
		<div class="funcflowblock">
			<div class="funcflowblock_inner01">
				<div class="cmnbox01">
					<h3 class="cmntitle01"><span>検知オプション機能設定の流れ</span></h3>
					<div class="tflows01 type02">
						<div class="tflows02">
							<div class="tflows03"><img src="{{ asset('assets/img/function/fflow_01.png') }}" alt="FLOW01"></div>
							<dl class="tflows04">
								<dt>スマホで初期設定を行い、<br>映像を確認する</dt>
								<dd>※みまもりCUBEはまだ固定しないでください。</dd>
							</dl>
						</div>
						<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
						<div class="tflows02">
							<div class="tflows03"><img src="{{ asset('assets/img/function/fflow_02.png') }}" alt="FLOW02"></div>
							<dl class="tflows04">
								<dt>対応窓口に電話し、「検知オプション機能の設定を<br>したい」と伝える</dt>
							</dl>
						</div>
						<div class="tflows05"><img src="{{ asset('assets/img/common/icon_arrow_hr.svg') }}" class="pc"><img src="{{ asset('assets/img/common/icon_arrow_vr.svg') }}" class="sp"></div>
						<div class="tflows02">
							<div class="tflows03"><img src="{{ asset('assets/img/function/fflow_03.png') }}" alt="FLOW03"></div>
							<dl class="tflows04">
								<dt>オペレーターがカメラを通して宅内環境をチェックし、<br>設置場所を決定。<br>動きを検知するための設定を行う</dt>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="ins_anxiety_bg"><img src="{{ asset('assets/img/function/bg_tri.png') }}" alt=""></div>
			<div class="funcflowblock_inner02">
				<div class="cmnbox01">		
					<div class="funcflow01">
						<p class="funcflow02"><span>設定した動きをリアルタイムで検知・通知してくれるため</span></p>
						<p class="funcflow03">遠く離れた場所に居ても安心して過ごすことができます。</p>
						<div class="funcflow04">
							<div class="funcflow05">
								<p class="funcflow06"><span>ベッドからの離床</span></p>
								<div class="funcflow07"><a href="https://www.youtube.com/watch?v=TQFbcvRimW4" target="_blank"><img src="{{ asset('assets/img/function/movie_01.png') }}"></a></div>
							</div>
							<div class="funcflow05">
								<p class="funcflow06"><span>部屋からの出入り</span></p>
								<div class="funcflow07"><a href="https://www.youtube.com/watch?v=3iol_yFWLNs" target="_blank"><img src="{{ asset('assets/img/function/movie_02.png') }}"></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>
	
	<section>	
		<div class="funclistblock">
			<div class="cmnbox01">
				<h3 class="cmntitle01"><span>仕様一覧</span></h3>
				<div class="funclistwrap">
					<div class="funclist01">
						<table>
							<tr>
								<th colspan="2" class="br01">対応ブラウザ</th>
								<td class="br02">
									<p class="funclist02">Windowsパソコン、Android端末、iOS端末</p>
									<ul class="funclist03">
										<li>WindowsOS<br>Chrome（85.0以降)を推奨</li>
										<li>Android<br>Chrome（85.0以降)を推奨</li>
										<li>iPad、iPhone<br>Safari（12.1以降）を推奨</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th rowspan="4">カメラ</th>
								<th>撮影解像度</th>
								<td>320×240（QVGA）</td>
							</tr>
							<tr>
								<th>画角</th>
								<td>水平：78°垂直：46°対角103°</td>
							</tr>
							<tr>
								<th>フレームレート</th>
								<td>5FPS</td>
							</tr>
							<tr>
								<th>暗視</th>
								<td>赤外線LED（暗視モード）</td>
							</tr>
							<tr>
								<th rowspan="2">オーディオ</th>
								<th>スピーカ</th>
								<td>内蔵スピーカ×1（出力2W）</td>
							</tr>
							<tr>
								<th>マイク</th>
								<td>内蔵マイク×1（集音距離3ｍ）</td>
							</tr>
							<tr>
								<th rowspan="4">インターフェース</th>
								<th>SDカード</th>
								<td>SD 3.0（UHS-I）×1ch　最大64G</td>
							</tr>
							<tr>
								<th>LAN</th>
								<td>B100BASE-T ／10BASE-T　× 1ch</td>
							</tr>
							<tr>
								<th>Wi-Fi</th>
								<td>IEEE 802.11b/g/n（2.4GHz）</td>
							</tr>
							<tr>
								<th>通信機能</th>
								<td>通信方式　4G  LTE　（micro SIM）</td>
							</tr>
							<tr>
								<th colspan="2">動作検知</th>
								<td>対象物より最大10ｍ</td>
							</tr>
							<tr>
								<th colspan="2">外形寸法</th>
								<td>90（W）×100（D）×90（H）ｍｍ</td>
							</tr>
							<tr>
								<th colspan="2">動作温度</th>
								<td>0～40℃</td>
							</tr>
							<tr>
								<th colspan="2">質量</th>
								<td>本体：310ｇ以下</td>
							</tr>
							<tr>
								<th rowspan="4" class="br03">ACアダプタ</th>
								<th>AC入力</th>
								<td>単相AC100V～AC240V±10％　50/60H</td>
							</tr>
							<tr>
								<th>出力電圧</th>
								<td>zDC＋12V±10％</td>
							</tr>
							<tr>
								<th>出力電流</th>
								<td>2.0A以下</td>
							</tr>
							<tr>
								<th>コードの長さ</th>
								<td class="br04">DC側5ｍ</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!--/content-->

{% endblock %}