{% extends 'default_frame.twig' %}

{% block main %}
<!--content-->
<div class="cmncontent">

	<section class="underMv voice">
		<div class="cmnbox01">
			<div class="underMv_contImg sp"><img src="{{ asset('assets/img/voice/pic_mv_sp.png') }}" alt=""></div>
			<div class="underMv_cont">
				<div class="underMv_cont_box">
					<h2 class="underMv_cont_ttl">
						<span class="underMv_cont_icon"><img src="{{ asset('assets/img/voice/icon_mv.png') }}" alt=""></span>
						<span class="underMv_cont_head">ご利用者の声</span>
					</h2>
					<p class="underMv_cont_txt">みまもりCUBEをご利用いただいたお客様の声をご紹介します。</p>
				</div>
			</div>
		</div>
	</section>

	<ul class="breadcrumb cmnbox01">
		<li class="breadcrumb_list"><a href="{{ url('homepage') }}user_data">HOME</a></li>
		<li class="breadcrumb_list">ご利用者の声</li>
	</ul>

	<section>
		<div class="voiceblock">
			<div class="cmnbox01">
			    <p class="voice05">ご利用者の声</p>
				<div class="voice01">
					<div class="voice02 mh01">
						<h3 class="voice03">見守る私の方が精神的に安定しました。</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">離れて暮らす両親が今日も元気かどうか確認でき不安が軽減され、見守る私の方が精神的に安定しました。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">動けなくなったのを録画機能で確認できた。</h3>
						<p class="voice04">60代/女性</p>
						<p class="voice04">遠距離介護なので　数時間毎のチェックができて安心できるとこが助かります。<br>
                            以前ベッドから落ちて動けなくなったのをみまもりCUBEの録画機能でわかり夜遅い時間だったのですがすぐにヘルパーさん連絡して駆けつけてもらうことができました。<br>
                            みまもりCUBEがなければ次の日ヘルパーさんが来るまでそのままでしたし、本人自身もいつからその状態になったのかもうまく伝えられないと思います。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">双方の安心感がある。</h3>
						<p class="voice04">50代/男性</p>
						<p class="voice04">利用前は、視覚的な健康状態の把握ができなかったが、いまは特に電話をしなくても朝夕と定期的に、「見守れる」「見守れられるている」という双方の安心感がある</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">防犯対策にも役立っています。</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">家の出入りが分かりすごく助かっています。また、来訪者と話している姿が分かるので、母にすぐに電話をかけることができ、防犯対策にも役立っています。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">電話でも会話がワンパターンになり様子がわからなかった</h3>
						<p class="voice04">60代/女性</p>
						<p class="voice04">補聴器を外していると電話にでないし、電話に出ても会話がワンパターンになって毎日の様子がわからなくて心配だった。<br>
						訪問者の説明がわからない様子の時はこちらから電話してアドバイスできる。<br>
						就寝時間や起床時間が把握できるので　電話にでなくても慌てなくなった。<br>
						気候の変化があっても着替えずにいることが多いが服装がみえるので色々とアドバイスしやすくなった。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">いつもと様子が違うと思ったら…</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">カメラで見るといつも様子が違うと思い電話をしたら血圧が高くすぐに病院に行かせる事ができた</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">生活が把握しやくなって安心です。</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">録画を確認して、食事をちゃんと取っているか、どれくらい寝ているか等把握しやすくなった。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">状況を確認してから電話をかける事ができています。</h3>
						<p class="voice04">60代/女性</p>
						<p class="voice04">以前はあわてて電話に出ようとして転倒した事があるのでこちらから状況を確認してから電話をかける事ができています。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">安心して外出できるようになりました。</h3>
						<p class="voice04">40代/男性</p>
						<p class="voice04">外出してしまうと母が一人になってしまうので心配でした。外出先からでもスマホで確認できるので安心して外出できるようになりました。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">さりげなく見守れるので良いです。</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">見た目がよくある防犯カメラの様に威圧感がなく、さりげなく見守れるので良いです。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">できること、できないことを知った</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">自分達の知らない事がわかった。父が一人でできること、できないことを知った。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">電話をかけるタイミングがわかるようになった</h3>
						<p class="voice04">60代/男性</p>
						<p class="voice04">一日の中で寝ている時間が多く、電話をかけるタイミングがカメラでわかるようになった</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">自力で起き上がれなかった時を発見できた</h3>
						<p class="voice04">40代/男性</p>
						<p class="voice04">薬を忘れずに飲む様にとトイレの声掛け。ベットから落ち、自力で起き上がれがなかった時の発見で助けられた。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">家族で見守りできるのが良いです。</h3>
						<p class="voice04">60代/男性</p>
						<p class="voice04">検知が正確なので信頼できます。家族で複数人で見守りできるのが良いです。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">以前は、電話に出ない時は隣人に様子を見てもらったりしていた</h3>
						<p class="voice04">40代/女性</p>
						<p class="voice04">一人暮らしで、電話をしても出なかったり（電話の子機と、エアコンのリモコンをまちがえたり）、隣人に様子を見てもらったりしていた。<br>
						何時ごろ起きて、ご飯を食べているか、ベッドに横になってるか、寝る前は何をしてるか、分かるようになった。</p>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">暗視モードで、消灯後も見守れています。</h3>
						<p class="voice04">50代/女性</p>
						<p class="voice04">親と離れて暮らしているのですが、毎日仕事帰りに片道30分かけて親の安否確認に行っています。そこでみまもりCUBEを見つけ、
お試しをしたところ問題無く見ることができました。暗視モードもできるので、消灯後も見守れています。</p>
					</div>
				</div>
				<style>
				    p.voice05 {
				        color: #EB6E45;
                        font-size: 32px;
                        font-weight: 800;
                        margin-bottom: 30px;
				    }
				</style>
				<p class="voice05">ご利用者アンケート</p>
				<div class="voice01">
				    <div class="voice02 mh01">
						<h3 class="voice03">Q.みまもりCUBEをご利用前はどんな事にお困りでしたか?</h3>
						<p class="voice04">みまもりCUBEをご利用するに当たったきっかけについて調査しました。</p>
						<a href="{{ asset('assets/pdf/お悩み.pdf') }}" class="link_orange" target="_blank">アンケート結果をみる　></a>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">Q.年齢は?</h3>
						<p class="voice04">みまもりCUBEをご契約いただいた方の年代ごとの割合を調査しました。</p>
						<a href="{{ asset('assets/pdf/年齢.pdf') }}" class="link_orange" target="_blank">アンケート結果をみる　></a>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">Q.利用している機能は?</h3>
						<p class="voice04">みまもりCUBEの利用者が特に使用する機能について調査しました。</p>
						<a href="{{ asset('assets/pdf/機能.pdf') }}" class="link_orange" target="_blank">アンケート結果をみる　></a>
					</div>
					<div class="voice02 mh01">
						<h3 class="voice03">Q.みまもりCUBEをお知り合いの方などに紹介したいと思いますか?</h3>
						<p class="voice04">みまもりCUBEをご利用中の方に、みまもりCUBEのおススメ度を調査しました。</p>
						<a href="{{ asset('assets/pdf/紹介.pdf') }}" class="link_orange" target="_blank">アンケート結果をみる　></a>
					</div>
				    <div class="voice02 mh01">
						<h3 class="voice03">Q.総合的な評価は?</h3>
						<p class="voice04">みまもりCUBEを利用いただいた方の満足度調査を行いました。</p>
						<a href="{{ asset('assets/pdf/総合評価.pdf') }}" class="link_orange" target="_blank">アンケート結果をみる　></a>
					</div>
				</div>

				{#<ul class="pnav">#}
				{#	<li class="prev"><a href="#">&nbsp;</a></li>#}
				{#	<li class="current"><span>1</span></li>#}
				{#	<li><a href="#">2</a></li>#}
				{#	<li><a href="#">3</a></li>#}
				{#	<li><a href="#">4</a></li>#}
				{#	<li><a href="#">5</a></li>#}
				{#	<li class="next"><a href="#">&nbsp;</a></li>#}
				{#</ul>#}
				
			</div>
		</div>		
	</section>
</div>
<!--/content-->

{% endblock %}