<!--header-->
<header>
	<div class="megawrap"></div>
	<div class="headerwrap">
		<div class="headerbox01">
			<h1 class="logo"><a href="{{ url('homepage') }}"><img src="{{ asset('assets/img/common/logo.png') }}" alt="みまもりCUBE"></a></h1>
			<nav>
				<div class="gnavblock">	
					<div class="gnavwrap pc">						
						<ul class="gnav">
							<li class="mg">
								<a href="#" onclick="return false;"><span>みまもりCUBEとは</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">みまもりCUBEとは</h2>
												<p class="subnavtxt">高齢者の徘徊・留守等、すぐに行き来できない場所を24時間見守ることができる「見守りカメラ」です。</p>
											</div>
											<ul class="subnav">
												<li><a href="{{ url('homepage') }}user_data/function/"><img src="{{ asset('assets/img/common/subnav_01.png') }}"><span>機能紹介</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/about01/"><img src="{{ asset('assets/img/common/subnav_02.png') }}"><span>みまもりCUBE<br class="pc">について</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/voice/"><img src="{{ asset('assets/img/common/subnav_03.png') }}"><span>利用者の声</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="mg">
								<a href="#" onclick="return false;"><span>ご利用方法</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">ご利用方法</h2>
												<p class="subnavtxt">ご契約に関する情報や、キャンセル・返品方法についてご紹介します。</p>
											</div>
											<ul class="subnav type02">
												<li><a href="{{ url('homepage') }}user_data/flow/"><img src="{{ asset('assets/img/common/subnav_04.png') }}"><span>月額料金・お申込みの流れ</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-price/"><img src="{{ asset('assets/img/common/subnav_05.png') }}"><span>お買い物ガイド</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-kakunin/"><img src="{{ asset('assets/img/common/subnav_06.png') }}"><span>本人確認書類とは</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-cancel/"><img src="{{ asset('assets/img/common/subnav_07.png') }}"><span>キャンセル・返品方法</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li><a href="{{ url('homepage') }}user_data/faq/"><span>よくある質問</span></a></li>
							<li><a href="{{ url('homepage') }}user_data/news/"><span>新着情報</span></a></li>
							<li class="mg">
								<a href="#" onclick="return false;"><span>介護保険適用について</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">介護保険適用について </h2>
												<p class="subnavtxt">ラムロックアイズみまもりCUBEは<br>徘徊感知機器として介護保険レンタルが可能です</p>
											</div>
											<ul class="subnav type02">
												<li><a href="{{ url('homepage') }}user_data/kaigohoken/"><img src="{{ asset('assets/img/common/subnav_08.png') }}"><span> ラムロックアイズ<br class="pc">（保険適用について）</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/care_manager/"><img src="{{ asset('assets/img/common/subnav_09.png') }}"><span>ケアマネージャー・<br class="pc">福祉用具レンタル事務所の方へ</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="gnavwrap sp">						
						<ul class="gnav">
							<li class="mg">
								<a href="#" onclick="return false;"><span>みまもりCUBEとは</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">みまもりCUBEとは</h2>
												<p class="subnavtxt">高齢者の徘徊・留守等、すぐに行き来できない場所を24時間見守ることができる「見守りカメラ」です。</p>
											</div>
											<ul class="subnav">
												<li><a href="{{ url('homepage') }}user_data/function/"><img src="{{ asset('assets/img/common/subnav_01.png') }}"><span>機能紹介</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/about01/"><img src="{{ asset('assets/img/common/subnav_02.png') }}"><span>みまもりCUBE<br class="pc">について</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/voice/"><img src="{{ asset('assets/img/common/subnav_03.png') }}"><span>利用者の声</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li class="mg">
								<a href="#" onclick="return false;"><span>ご利用方法</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">ご利用方法</h2>
												<p class="subnavtxt">ご契約に関する情報や、キャンセル・返品方法についてご紹介します。</p>
											</div>
											<ul class="subnav type02">
												<li><a href="{{ url('homepage') }}user_data/flow/"><img src="{{ asset('assets/img/common/subnav_04.png') }}"><span>月額料金・お申込みの流れ</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-price/"><img src="{{ asset('assets/img/common/subnav_05.png') }}"><span>お買い物ガイド</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-kakunin/"><img src="{{ asset('assets/img/common/subnav_06.png') }}"><span>本人確認書類とは</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/first-cancel/"><img src="{{ asset('assets/img/common/subnav_07.png') }}"><span>キャンセル・返品方法</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
							<li><a href="{{ url('homepage') }}user_data/faq/"><span>よくある質問</span></a></li>
							<li><a href="{{ url('homepage') }}user_data/news/"><span>新着情報</span></a></li>
							<li class="mg">
								<a href="#" onclick="return false;"><span>介護保険適用について</span></a>
								<div class="subnavblock">
									<div class="subnavbox">
										<div class="subnavdetail">
											<div class="subnavtxtbox">
												<h2 class="subnavtitle">介護保険適用について </h2>
												<p class="subnavtxt">ラムロックアイズみまもりCUBEは<br>徘徊感知機器として介護保険レンタルが可能です</p>
											</div>
											<ul class="subnav type02">
												<li><a href="{{ url('homepage') }}user_data/kaigohoken/"><img src="{{ asset('assets/img/common/subnav_08.png') }}"><span> ラムロックアイズ<br class="pc">（保険適用について）</span></a></li>
												<li><a href="{{ url('homepage') }}user_data/care_manager/"><img src="{{ asset('assets/img/common/subnav_09.png') }}"><span>ケアマネージャー・<br class="pc">福祉用具レンタル事務所の方へ</span></a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>
						</ul>
						<ul class="sp spbtmnav typehead">
							<li>
								<a href="{{ url('homepage') }}user_data/material/" class="cmnbtn type01">
									<span class="cmnbtnicon"><img src="{{ asset('assets/img/common/icon_material.svg') }}"></span>
									<span class="cmnbtntxt">検討資料請求</span>
								</a>
							</li>
							<li>
								<a href="{{ url('contact') }}" class="cmnbtn type02">
									<span class="cmnbtnicon"><img src="{{ asset('assets/img/common/icon_mail.svg') }}"></span>
									<span class="cmnbtntxt">お試し申し込み</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="haedbtn">
						<a href="{{ url('homepage') }}user_data/material/" class="cmnbtn type02">
							<span class="cmnbtnicon"><img src="{{ asset('assets/img/common/icon_mail.svg') }}"></span>
							<span class="cmnbtntxt">お試し申し込み</span>
						</a>
					</div>
				</div>
			</nav>
			<div class="btnmenu"><a href="#" onclick="return false;"><span></span><span></span><span></span></a></div>
		</div>
	</div>
	<ul class="fb01">
		<li><a href="{{ url('homepage') }}user_data/material/"><img src="{{ asset('assets/img/common/fb_01.png') }}" alt="検討資料請求"></a></li>
		<li><a href="{{ url('contact') }}"><img src="{{ asset('assets/img/common/fb_02.png') }}" alt="お試し申し込み"></a></li>
	</ul>
</header>
<!--/header-->